@mixin gradient($start-color: #555, $end-color: #333, $deg: 45deg) {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
  background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}


@mixin clearfix() {
  &:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }
}


@mixin __break__($color, $label) {
  body:before {
    content: '#{$label}';
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color;
		height: 5px;
		padding: 0 5px;
		font-weight: bold;
		text-shadow: 0 0 10px white;
  }
}

@mixin breakpoint($color, $size) {
  
  @if $size == 'default' {
    @include __break__($color, 'default');
    @content;
  }
  @else {
    @media (max-width: $size) {
      @include __break__($color, $size);
      @content;
    }
  }

}