
$theme-color: #118CF8;
// $theme-color: #3A99D8;
$default-action-color: #39CA74;
$secondary-action-color: #29BB9C;
$minor-action-color: #3A99D8;

@import '_utils';
@import '_fonts';
@import '_icons';
// @import './_bootstrap';

@import '../_reset';

html, body {
	font-family: $default-font;
}

.section {
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

#hero {
	background: $theme-color;
	min-height: 60vh;
}

#header {
	@include clearfix;
	padding: 15px 0;

	$logo-scale: 0.20;
	$logo-width: 1040px * $logo-scale; 
	$logo-height: 228px * $logo-scale;

	.logo {
		float: left;
		display: block;
    overflow: hidden;
		text-indent: -100%;

		background: url(/__codelab__/site/images/logo.png) no-repeat;

		width: $logo-width;
		height: $logo-height;
    background-size: $logo-width $logo-height;
	}

	.nav {
		float: right;

		a {
			height: $logo-height;
			line-height: $logo-height;
			padding: 0 15px;

			color: #fff;
		}
	}

}

.section {
	clear: both;
	padding: 0 0 100px 0;

	.details {
		padding: 40px 0;
	}

	.actions {
		padding: 0 0 0 290px;
	}

	h1 {
		font-family: $title-font;
		font-size: 48px;
		font-weight: bold;
		padding: 0 0 20px 0;
		line-height: 1.2em;
	}


	h2 {
		font-family: $title-font;
		font-size: 36px;
		font-weight: bold;
		padding: 0 0 20px 0;
		line-height: 1.2em;
	}

	h3 {
		font-size: 32px;
		font-weight: bold;
		padding: 0 0 20px 0;
	}
	
	p {
		max-width: 80%;
		line-height: 1.4em;
	}

	em {
		font-style: italic;
	}

	.actions a {
		$action-height: 50px;
		$action-padding: 35px;
		$action-margin: 15px;

		display: inline-block;
		margin: 0 $action-margin $action-margin 0;
		height: $action-height;
		line-height: $action-height;
		padding: 0 $action-padding;
		background: rgba(#000, 0.4);
		color: #fff;
		text-decoration: none;
		border-radius: $action-height;
	}

}

#intro {
	color: #fff;

	.details {
		padding: 40px 0 25px 300px;
	}
}



// @mixin video_size($video-width) {
// 	$video-height: $video-width * 0.5625;
// 	@at-root #demo-overlay iframe {
// 		width: $video-width;
// 		height: $video-height;
// 		margin: ($video-height * -0.7) 0 0 ($video-width * -0.5);
// 	}
// }

// $theme-color: #118CF8;
// // $theme-color: #3A99D8;
// $default-action-color: #39CA74;
// $secondary-action-color: #29BB9C;
// $minor-action-color: #3A99D8;

// body, html {
// 	background: $theme-color;
// }

// .doc {
// 	background: #fff;
// 	padding: 0 15px 60px 15px;
// }

// .debug {
//   box-shadow: inset 0 0 0 4px #f00;
// }

// #demo-overlay {
// 	position: fixed;
// 	top: 0;
// 	bottom: 0;
// 	right: 0;
// 	left: 0;
// 	z-index: 9999;
// 	background: rgba(#000, 0.7);

	
// 	iframe {
// 		position: absolute;
// 		left: 50%;
// 		top: 50%;
// 		box-shadow: 0 2px 15px #000;
// 		@include video_size(560px);
// 	}
// }


// #error {
// 	z-index: 999;
// 	background: rgba(#F39E27, 0.72);
// 	border: 2px solid #F39E27;
// 	text-shadow: 0 1px 3px #000;
// 	box-shadow: 0px 3px 18px rgba(#000, 0.6);
// 	color: #fff;
// 	top: 120px;
// 	position: fixed;
// 	left: 20%;
// 	right: 20%;
// 	display: none;
// 	text-align: center;
// 	padding: 16px 20px;
// 	font-size: 15px;
// 	border-radius: 4px;
// 	opacity: 1;

// 	strong, #reason {
// 		display: inline;
// 	}

// 	strong {
// 		font-weight: 600;
// 		margin-right: 10px;
// 	}

// 	&.fade-out {
// 		transition: opacity 1s;
// 		opacity: 0;
// 	}
// }

// #login-button {
// 	color: #fff;
// 	float: right;
// 	font-size: 20px;
// 	padding: 8px 27px;
// 	border: 4px solid #fff;
// 	border-radius: 100px;
// 	cursor: pointer;
// 	font-weight: 600;
// 	text-decoration: none;

// 	transition: background 0.3s;
// 	&:hover {
// 		background: rgba(#fff, 0.3);
// 		color: #fff;
// 	}
// }

// .jump {
//   position: absolute;
//   display: block;
//   height: 0;
//   left: 0;
//   right: 0;
//   overflow: hidden;
//   padding: 0;
//   margin: -100px 0 0 0;
// }

// .button {
//   transition: all 0.4s;
//   $action-font-size: 19px;
//   $action-padding: 30px;
//   $action-height: 50px;
//   $action-spacing: 20px;

//   display: inline-block;
// 	margin-right: 15px;
// 	margin-bottom: 10px;
//   color: #fff;
//   cursor: pointer;
//   text-decoration: none;

//   font-size: $action-font-size;
//   line-height: $action-height;
//   height: $action-height;
//   padding: 0 $action-padding;
//   border-radius: $action-height;
// 	background: rgba(50, 50, 50, 0.8);
	
// 	&:visited, &:active, &:hover {
// 		color: #fff;
// 	}
// }

// .action a {
//   text-decoration: none;
// }

// .header .button {
// 	background: rgba(0, 0, 0, 0.3);
// }

// @mixin header_underline($color) {
//   border-bottom: 8px solid $color;
// }

// @mixin button_hover($button-color) {
//   background-color: $button-color;
//   box-shadow: inset 0 0 0 2px lighten($button-color, 15%);
//   text-shadow: 0 0 0 rgba(0, 0, 0, 0);
//   color: #fff;
// }

// html, body {
//   font-family: Poppins, sans-serif;
// }

// .main.content {
//   margin: 0 auto;
//   max-width: 100%;
// }

// .loading .loading {
//   display: none;
// }

// .wrapper {

//   &.tutorials {
//     padding: 15px 0;
//   } 

// }

// .header {
//   background: 50% 60% no-repeat url(/__codelab__/site/images/header-background.jpg);
// 	background-size: cover;
// 	background-position: 50% 25%;
//   color: #fff;

//   // &:before {
//   //   content: ' ';
//   //   display: block;
//   //   height: 10px;
//   //   background: $theme-color;
//   // }

//   padding: 0 0 100px 0;

//   .bar {
//     padding: 40px 0;
//   }

//   .intro {
//     padding: 60px 20px;
//     text-shadow: 0 1px 3px #000;
// 		font-size: 32px;
		
// 		h1 {
// 			position: absolute;
// 			top: -999px;
// 		}
//   }

//   .learn-to {
//     font-size: 120%;
//     font-weight: bold;
//     color: #ddd;
//   }

//   .feature {
//     font-weight: bold;
//     font-size: 180%;
//     display: inline-block;
//     padding: 0 32px 0 20px;
//     background: rgba(0, 0, 0, 0.4);
//     margin: 0 -20px;

//     .typed-cursor {
//       opacity: 0.3;
//     }

//     #feature-display {
//       display: inline-block;
//     }
//   }


//   .details {
//     font-size: 24px;
//     padding: 40px 0 60px 0;
//     max-width: 800px;
//     line-height: 1.6em;
//   }

//   .actions a {
// 		@extend .button;
		
// 		&:hover {
//       @include button_hover($theme-color);
//     }


//     // &.how-it-works:hover {
//     //   @include button_hover($default-action-color);
//     // }

//     // &.try-demo:hover {
//     //   @include button_hover($secondary-action-color);
//     // }

//     // &.view-schedule:hover {
//     //   @include button_hover($minor-action-color);
//     // }

//   }

//   .logo {
//     $logo-scale: 0.25;
//     $logo-width: 1040px * $logo-scale; 
//     $logo-height: 228px * $logo-scale;
//     width: $logo-width;
//     height: $logo-height;
//     background: url(/__codelab__/site/images/logo.png) no-repeat;
//     background-size: $logo-width $logo-height;
//     display: block;
//     overflow: hidden;
// 		text-indent: -100%;
// 		float: left;
// 	}
	
// 	&.partial {
// 		height: 260px;

// 		.intro {
// 			padding: 0;
// 			position: relative;
// 		}

// 		.bar {
// 			padding: 25px 0 25px 0;
// 		}

// 		.details {
// 			padding: 10px 0 10px 3px;
// 			font-size: 18px;
// 		}

// 		// .details, .actions {
// 		// 	// display: none;
// 		// }

// 		.actions {
// 			position: absolute;
// 			right: 10px;
// 			top: -50px;
// 		}

// 		.logo {
// 			$logo-scale: 0.20;
// 			$logo-width: 1040px * $logo-scale; 
// 			$logo-height: 228px * $logo-scale;
// 			width: $logo-width;
// 			height: $logo-height;
// 			background-size: $logo-width $logo-height;
// 		}

// 		.feature {
// 			font-size: 48px;
// 			margin: 0;
// 			margin: 0 0 0 -20px;
// 		}
// 	}
// }

// .section {

// 	&.light {
// 		background: #fff;
// 	}

//   .description {
//     position: relative;
//     left: 50%;
//     transform: translate(-50%, 0);
    
//     h3 {
//       font-size: 48px;
//       font-weight: bold;
//       padding: 0 0 15px 0;

//       @include header_underline(#E54D42);
//     }

//     p {
//       font-size: 18px;
//       line-height: 1.6em;
//       padding: 20px 0 0 0;
//     }

//     .action {
//       padding-top: 30px;
//     }

//   }

//   padding: 100px 0;

// }

// .sessions .footnote {
//   padding: 20px 0;
//   text-align: center;

//   &, a {
//     color: #999;
//   }

//   a {
//     text-decoration: underline;
//   }
// }

// .courses {
//   .action {
//     a.button {
//       &:hover {
//         @include button_hover(#E34E47);
//       }
//     }
//   }
// }

// .faq {
//   .action {
//     a.button {
//       &:hover {
//         @include button_hover(#F0C13D);
//       }
//     }
//   }
// }

// .schedule {
//   .action {
//     a.button {
//       &:hover {
//         @include button_hover(#894890);
//       }
//     }
//   }
// }

// .course-list {
//   padding: 10px 0;
//   position: relative;
//   top: -30px;

//   .course {
//     transition: all 0.4s;
// 		// padding: 5px 0;
// 		margin: 0 0 10px 0;
//     z-index: 0;
    
//     &:hover {
//       transform: scale(1.05, 1.05);
//       z-index: 4;
//     }
//   }

//   .details {
//     background: #fff;
//     padding: 20px 0;
//     text-align: center;
//     box-shadow: inset 0 0 0 2px rgba(0,0,0, 0.1);
//     border-radius: 10px;  
// 	}
	
// 	.info {
// 		margin: 0 15px;
// 	}

//   .icon {
//     right: 8px;
//     top: 5px;
//     font-size: 65px;
//     z-index: 1;
//   }

// 	.category-icon {
// 		height: 70px;
// 		background-repeat: no-repeat;
// 		background-size: auto 100%;
// 		background-position: 50% 0;
// 	}

//   .code-icon { background-image: url(/__codelab__/site/images/icon-code.png); }
//   .game-icon { background-image: url(/__codelab__/site/images/icon-game.png); }
//   .web-icon { background-image: url(/__codelab__/site/images/icon-web.png); }
//   .mobile-icon { background-image: url(/__codelab__/site/images/icon-mobile.png); }

//   .name {
//     font-size: 22px;
//     padding: 15px 0 7px 0;
//     font-weight: bold;
//   }

//   .about {
//     font-size: 14px;
//     line-height: 1.4em;
//     color: #777;
//   }
// }

// .wrapper.tutorials {
//   background: #344A5D;
//   position: relative;

//   .screenshot {
//     background: url(/__codelab__/site/images/assistant.png) no-repeat;
//     background-size: auto 100%;
//     background-position: 100% 0;
//     position: absolute;
//     top: -30px;
//     bottom: -30px;
// 		width: 150%;
//     transform: translate(-103%, 0);
//   }

//   img {
//     display: none;
//   }

//   h3 {
//     @include header_underline(#409AD6);
//   }

//   p {
//     padding-top: 20px;
//   }

//   a {
//     @extend .button;
//     background-color: $minor-action-color;

//     &:hover {
//       @include button_hover($default-action-color);
//     }
//   }

//   color: #fff;
//   padding: 0;

//   .section {
//     padding: 0;
//   }

//   .details {
// 		padding: 60px 30px;
// 		background: #344B5D;
//     // background: rgba(#344A5D, 0.8);
//   }
// }

// .section.about {
//   background: $theme-color;
//   color: #fff;
//   padding: 100px 0 120px 0;
//   position: relative;

//   h3 {
//     @include header_underline(lighten($theme-color, 15%));
//   }

//   a {
//     color: #fff;
//     &:hover {
//       @include button_hover(lighten($theme-color, 10%));
//     }
//   }

//   // img {
//   //   width: 100%;
//   // }
//   .concept {
//     // height: 100%;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 55%;

//     background: url(/__codelab__/site/images/concept.jpg);
//     background-size: auto 80%;
//     background-repeat: no-repeat;
//     background-position: 100% 50%;
//   }
// }

// .location {

// 	padding: 20px 0;
// 	background: darken(#EDEDED, 10%);
//   position: relative;

//   #map {
//     top: 10px;
//     bottom: 10px;
//     left: 0;
//     right: 0;
//     position: absolute;
    
//     background: #EBEEF0 url(/__codelab__/site/images/map.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: 50% 50%;
//   }

//   $form-background: #fff;
//   .form {
//     background: rgba($form-background, 0.4);
//   }

//   .description {
//     background: rgba($form-background, 0.7);
//     padding: 60px 20px;

//     h3 {
//       @include header_underline(#3AB99C);
//     }
//   }

//   .action {
//     padding: 40px 0 0 0;
// 	}

//   ul {
//     list-style: none;
//     padding: 15px;
//     box-shadow: inset 0 0 0 2px #ddd;
//     border-radius: 5px;

//     li {
//       $info-item-height: 45px;
//       position: relative;
//       padding: 0 0 0 5px;
      
//       .icon, .info {
//         padding: 0;
//         margin: 0;
//         height: $info-item-height;
//         line-height: $info-item-height;
//         display: inline-block;
//       }

//       .info {
//         font-size: 18px;
//         color: #555;
//         padding-left: 40px;
//         color: #000;
// 			}
			
// 			.address {
// 				font-size: 20px;
// 				font-weight: bold;
// 				line-height: 1.4em;
// 				height: auto;
// 			}
      
//       .icon {
//         font-size: 24px;
//         width: 36px;
//         top: 50%;
//         transform: translate(0, -50%);
//         position: absolute;
//       }

//       .map-icon { color: #999; }
//       .email-icon { color: #999; }
//       .phone-icon { color: #999; }
//     }

//   }

//   .action {
//     a.button {
//       &:hover {
//         @include button_hover(#3AB99C);
//       }
//     }
//   }
// }

// .policies {

//   .explanation {
//     padding-bottom: 30px;
//   }
  
//   .summary {
//     margin-top: 10px;
//     padding: 15px 25px;
//     background: #f3f3f3;

//     h4 {
//       font-size: 16px;
//       font-weight: normal;
//       color: #999;
//     }

//     .simple {
//       padding-top: 5px;
//       line-height: 1.6em;
//       font-size: 13px;
//     }
//   }


// }

// .schedule {

//   .description {
//     h3 {
//       @include header_underline(#9763B0);
// 		}
		
// 		padding-bottom: 30px;
//   }

// }

// .showcase {

//   max-width: 1300px;
  
//   .item {
//     padding: 0;
//     text-align: center;
// 		overflow: hidden;
// 		height: 360px;
// 		margin-bottom: 40px;

// 		transition: all 0.3s;

// 		* {
// 			transition: color 0.3s;
// 		}
		
// 		&:hover {
// 			transform: scale(1.05, 1.05);
// 			background: #f3f3f3;
// 			box-shadow: inset 0 0 0 2px #eee;

// 			* {
// 				color: #000;
// 			}
// 		}
//   }

//   a {
// 		color: #888;
// 		text-decoration: none;
//   }

//   img {
//     width: 100%;
//   }

// 	.thumbnail {
// 		height: 200px;
// 		display: block;
// 		background: #eee;
// 		background-position: 50% 50%;
// 		background-size: 100% auto;
// 	}

//   .title {
//     color: #555;
//     padding: 9px 0 0px 0;
//     font-size: 21.5px;
//   }
  
//   .created-by {
//     color: #bbb;
//     font-size: 14px;
// 	}
	
// 	.description {
// 		padding: 5px 15px 0 15px;
// 		font-size: 15px;
// 	}

// }

// .faq {

//   .description {
//     h3 {
//       @include header_underline(#F1C22A);
//     }
//   }

//   // .question-list {
//   //   position: absolute;
//   // }

//   .question {
//     transition: all 0.4s;

//     $question-hover-background: $theme-color;
//     $question-hover-color: #fff;
//     $answer-background: darken($theme-color, 15%);
//     $answer-color: #fff;
//     $answer-padding: 20px;

//     position: relative;
//     z-index: 0;
//     margin-bottom: 10px;

//     background: $question-hover-background;
    

//     .title {
//       padding: 15px 20px;
//       font-size: 18px;
//       cursor: help;

//       color: #fff;
//       strong {
//         color: #fff;
//       }
//     }

//     .answer {
//       transition: all 0.4s;
      
//       // position: absolute;
//       padding: $answer-padding;
//       // height: 0;
//       overflow: hidden;
//       // opacity: 0;
//       font-size: 16px;
//       line-height: 1.5em;
//       z-index: 4;
//       left: -25px;
//       right: -25px;

//       ol {
//         padding: 13px;
//       }

//       li {
//         margin: 0;
//         padding: 8px 0;
//       }

//       a {
//         // color: lighten($theme-color, 33%);
//         color: #fff;
//         background: darken($answer-background, 10%);
//         display: inline-block;
//         padding: 0 5px;
//         border-radius: 4px;
//       }

//       p {
//         margin: 0 0 20px 0;

//         &:last-child {
//           margin: 0;
//         }
//       }

//       // transform: translate(30px, 0);
//       background: $answer-background;
//       color: $answer-color;

//       // &:after {
//       //   opacity: 0;
//       //   bottom: 100%;
//       //   left: 50%;
//       //   border: solid transparent;
//       //   content: " ";
//       //   height: 0;
//       //   width: 0;
//       //   position: absolute;
//       //   pointer-events: none;
//       //   border-color: rgba(58, 153, 216, 0);
//       //   border-bottom-color: $answer-background;
//       //   border-width: 10px;
//       //   margin-left: -10px;
//       //   z-index: 5;
//       // }
//     }

//     &.collapsed {
//       background: $answer-background;
//       color: $answer-color;

//       background: darken(#A6ADB5, 5%);

//       .answer {
//         height: 0;
//         padding: 0 $answer-padding;
//       }
//     }

//     // &:hover, &.hover {
//     //   z-index: 9;

//     //   .title {
//     //     background: $question-hover-background;
//     //   }

//     //   .title, .title strong {
//     //     color: $question-hover-color;
//     //   }

//     //   .answer {
//     //     opacity: 1;
//     //     padding: 30px;
//     //     height: auto;
//     //     &:after {
//     //       opacity: 1;
//     //     }
//     //   }
//     // }

//   }

// }

// // .time-slots {
// //   padding-bottom: 30px;
// //   .slot {
// //     padding-top: 20px;
    
// //     .detail {
// //       padding: 18px 10px 18px 12px;
// //       // background: #eee;
// //       box-shadow: inset 0 0 0 3px #ddd;
// //     }

// //     .icon {
// //       font-size: 40px;
// //       color: #bbb;
// //       display: inline-block;
// //       // position: absolute;
// //       transform: translate(0, -30%);
// //     }

// //     .day {
// //       display: inline-block;
// //       padding: 0 0 0 11px;
// //       line-height: auto;
// //     }
// //   }

// //   .name {
// //     font-weight: 500;
// //     font-size: 20px;
// //     padding: 0 0 4px 0;
// //   }

// //   .hours {
// //     font-size: 15.5px;
// //     color: #777;
// //   }

// // }

// .starting-soon {
// 	background: #fff;
// 	padding-top: 3px;
// 	padding-bottom: 3px;
// 	text-align: center;
// 	$starting-background-color: #9A5FB3;

// 	.starting-soon-background {
// 		background: url(/__codelab__/site/images/soon-background.jpg) $starting-background-color;
// 		background-position: 50% 50%;
// 		background-size: 200px 200px;
// 	}

// 	.start-icon {
// 		display: inline-block;
// 		padding-right: 20px;
// 		img {
// 			height: 50px;
// 		}
// 	}

// 	.button{
// 		background: darken($starting-background-color, 15%);
		
// 		&:hover {
// 			background: darken($starting-background-color, 25%);
// 		}
// 	}

// 	.content {
// 		padding-top: 30px;
// 		padding-bottom: 30px;
// 		color: #fff;
// 		text-shadow: 0 1px 3px rgba(#000, 0.6);
// 	}
// 	.info, .action {
// 		text-align: center;
// 	}

// 	.info {
// 		font-size: 22px;
// 		line-height: 50px;
// 		height: 50px;
// 		display: inline-block;
// 	}

// 	.starting {
// 		font-weight: bold;
// 	}
// }

// .time-slots {
	
// 	.time-slot-date {
// 		padding-bottom: 20px;
// 	}

// 	.button.is-enabled {
// 		background: $default-action-color;
// 	}

// 	h3 {
// 		margin: 0;
// 		padding: 0 0 10px 0;
// 	}
	
// 	.timeslot {
// 		padding: 8px 14px;
// 		border: 1px solid #ccc;
// 		margin: 0 0 13px 0;
// 		border-radius: 4px;

// 		.is-full, .is-limited {
// 			display: none;
// 		}

// 		&.is-full {
// 			background: #f0f0f0;
// 		}

// 		&.is-full .details,
// 		&.is-full .level {
// 			// opacity: 0.4;
// 			color: #808E8F !important;
// 		}

// 		&.is-full .is-full {
// 			display: block;
// 			font-weight: bold;
// 			color: #808E8F;
// 		}

// 		.title {
// 			font-size: 16px;
// 		}

// 		.meta {
// 			float: right;
// 		}

// 		.level {
// 			// opacity: 0.8;
// 			// font-style: italic;
// 			font-size: 13.5px;
// 		}

// 		.time {
// 			font-size: 20px;
// 		}

// 		cursor: pointer;
// 		transition: all 0.1s;

// 		&.level-beginner .level {
// 			color: #2BAB5F;
// 		}

// 		&.level-advanced .level {
// 			color: #E05A2D;
// 		}
// 	}

// 	&.has-selection .timeslot {
// 		opacity: 0.5;
// 	}

// 	.timeslot.is-selected {
// 		color: #fff;
// 		background: #208FF5;
// 		opacity: 1;
// 		border-color: darken(#208FF5, 20%);

// 		.level {
// 			color: #fff;
// 		}
// 	}

// 	.timeslot.is-available:hover {
// 		background: lighten(#208FF5, 40%);
// 		transform: scale(1.025, 1.025);
// 		border-color: lighten(#208FF5, 30%);
// 		transition: all 0.2s;
// 	}

// 	.timeslot.is-selected:hover {
// 		background: #208FF5;
// 		border-color: darken(#208FF5, 20%);
// 	}

// 	// .step {
// 	// 	clear: both;
// 	// }

// 	// .about {
// 	// 	padding: 10px 0 15px 60px;
// 	// 	clear: both;
// 	// }

// 	// .step-title {
// 	// 	margin: 0;
// 	// 	font-size: 22px;
// 	// 	font-weight: 600;
// 	// }

// 	// .step-action {
// 	// 	opacity: 0.6;
// 	// 	font-size: 15px;
// 	// 	font-style: italic;

// 	// 	&.signup {
// 	// 		padding-bottom: 15px;
// 	// 	}
// 	// }

// 	// .step-icon {
// 	// 	$time-slot-icon-size: 50px;
// 	// 	width: $time-slot-icon-size;
// 	// 	height: $time-slot-icon-size;
// 	// 	background-size: auto 100%;
// 	// 	background-position: 50% 50%;
// 	// 	background-repeat: no-repeat;
// 	// 	position: absolute;
// 	// 	margin: 10px 0 0 0;
// 	// }

// 	// .icon-clock { background-image: url(/__codelab__/site/images/icon-clock.png); }
// 	// .icon-calendar { background-image: url(/__codelab__/site/images/icon-calendar.png); }
// 	// .icon-start { background-image: url(/__codelab__/site/images/icon-start.png); }

// }

// .pricing-table {
// 	$standard-plan-color: #894890;
//   box-shadow: inset 0 0 0 2px $standard-plan-color;
//   margin-top: 0;

//   .price {
//     background: $standard-plan-color;
//     text-align: center;

//     color: #fff;
//     font-size: 38px;
//     font-weight: bold;
//     padding: 10px;
// 	}
	
// 	$remote-plan-color: #7F9B9A;
// 	&.remote-plan {
// 		box-shadow: inset 0 0 0 2px $remote-plan-color;
// 		.price {
// 			background-color: $remote-plan-color;
// 		}
// 		.summary {
// 			background-color: rgba($remote-plan-color, 0.2);
// 		}
// 	}

// 	.title {
// 		font-size: 22px;
// 		font-weight: normal;
// 	}

//   .cost, .term {
//     display: inline;
//   }

//   .term {
//     vertical-align: super;
//     font-size: 18px;
//     margin-left: 8px;
//   }

// 	.summary {
// 		padding: 15px 25px;
// 		font-size: 16px;
// 		line-height: 1.4em;
// 		background-color: rgba($standard-plan-color, 0.2);
// 	}

//   .features {

//     .item:nth-child(even) {
//       background: rgba(0,0,0,0.03);
//     }

//     .icon, .detail {
//       display: inline-block;
//     }

//     .icon {
//       font-size: 32px;
//       position: absolute;
//       top: 50%;
//       transform: translate(0, -50%);
//       opacity: 0.4;
//     }

//     .detail {
//       padding-left: 50px;
//     }

//     .item {
//       $feature-item-height: 60px;
//       font-size: 18px;
//       padding: 17px 12px;

//       position: relative;
//     }

//   }


// }

// .footer {
//   margin: 0;
//   padding: 40px 0 125px 0;
//   background: $theme-color;
//   border-top: 25px solid lighten($theme-color, 8%);
//   text-align: center;

//   .content {
//     opacity: 0.8;
//     width: 80%;
//     padding: 50px 0 0 0;
//     margin: 0 auto;
//     // border-top: 2px solid #999;
//     font-size: 16px;

//     &, a {
//       color: #fff;
// 		}
		
// 		a {
// 			cursor: pointer;
// 		}

//     .separator {
//       display: inline-block;
// 			padding: 0 20px;
// 			opacity: 0.2;
//     }

//     // span {
//     //   display: block;
//     //   padding: 7px 0 0 0;
//     // }
//   }

//   .logo {
//     $logo-scale: 0.2;
//     $logo-width: 1040px * $logo-scale; 
//     $logo-height: 228px * $logo-scale;
//     background: url(/__codelab__/site/images/logo.png) no-repeat;
//     background-size: $logo-width $logo-height;
//     width: $logo-width;
//     height: $logo-height;
//     display: block;
//     overflow: hidden;
//     text-indent: -100%;
//     margin: 0 auto 15px auto;
//     opacity: 1;
//   }
// }

// #schedule-listing {
	
// 	.schedule-block {

// 			ul {
// 				list-style: none;
// 				margin: 0;
// 				padding: 0;

// 				li {
// 					padding: 8px;
// 					border: 1px solid #eee;
// 					cursor: pointer;

// 					&.limited {
// 						background: lighten(#FB9633, 35%);
// 						.space {
// 							opacity: 1;
// 						}
// 					}

// 					&.full {
// 						opacity: 0.6;
// 					}

// 					&:hover {
// 						opacity: 1 !important;
// 						.space {
// 							opacity: 1;
// 							height: 20px;
// 						}
// 						color: #000;
// 						border-color: #127CC9;
// 					}

// 				}

// 				.time, .md {
// 					display: inline-block;
// 					font-size: 19px;
// 				}

// 				.md {
// 					opacity: 0.8;
// 					padding-left: 8px;
// 				}

// 				.space {
// 					font-style: italic;
// 					font-size: 13px;
// 					opacity: 0.3;
// 					height: 0;
// 					overflow: hidden;
// 					transition: all 0.2s;
// 				}


// 			}
		

// 	}

// }

// #enrollment {

// 	padding: 0 0 0 0;

// 	.dropdown {
// 		display: inline-block;
// 		position: relative;
// 		font-size: 18px;
// 	}

// 	.dropdown .selection, .dropdown .items {
// 		border: 1px solid #ccc;
// 		border-radius: 4px;
// 		background: #fff;
// 	}

// 	.dropdown .selection {
// 		position: relative;
// 		padding: 0 50px 0 15px;
// 		height: 50px;
// 		line-height: 50px;
// 		cursor: pointer;
		
// 		select {
// 			display: none;
// 		}

// 	}
	

// 	.dropdown .items {
// 		text-align: left;
// 		position: absolute;
// 		display: none;
// 		z-index: 9999;
// 	}
	
// 	.dropdown.open .items {
// 		display: block;
// 	}
	
// 	.dropdown .items {
// 		margin-top: 4px;
// 		max-height: 290px;
// 		overflow: auto;
// 		box-shadow: 0 1px 8px rgba(#000, 0.3);
// 		background: #fff;
// 	}

// 	.dropdown .items .item {
		
// 		.block {
// 			cursor: pointer;
// 			height: 44px;
// 			line-height: 44px;
// 			width: 180px;
// 			padding: 0 0 0 15px;
// 		}

// 		.block.status-limited,
// 		.block.status-full {
// 			height: auto;
// 			line-height: 1.3em;
// 			padding-top: 5px;
// 			padding-bottom: 5px;
// 		}

// 		.block.status-limited .note {
// 			color: #FE971E;
// 		}

// 		.block.status-full {
// 			color: #888;
// 			background: #e0e0e0;
// 			cursor: not-allowed;
// 		}

// 		.note {
// 			font-size: 14px;
// 			font-style: italic;
// 		}
		
// 		&.selected {
// 			background: #ddd;
// 		}
		
// 		&:hover {
// 			background: $theme-color;
// 			color: #fff;
// 		}
		
// 		&.selected:hover {
// 			background: darken($theme-color, 10%);
// 			color: #fff;
// 		}
// 	}

// 	.dropdown.inactive {
// 		.selection {
// 			background: #e0e0e0;
// 			color: #777;
// 			cursor: no-drop;
// 		}
// 	}

// 	#selected-tuesday,
// 	#selected-thursday,
// 	#selected-saturday,
// 	#selected-sunday,
// 	&.select-time .dropdown.inactive {
// 		display: none;
// 	}

// 	&.select-tuesday #selected-tuesday,
// 	&.select-thursday #selected-thursday,
// 	&.select-saturday #selected-saturday,
// 	&.select-sunday #selected-sunday {
// 		display: inline-block;
// 	}
	
// }

// .order-review {
// 	padding: 0 0 50px 0;

// 	.introduction {
// 		.instructions {
// 			font-size: 16px;
// 			padding: 0 0 25px 0;
// 		}
// 	}

// 	.things-to-know {
// 		font-size: 18px;
// 		font-weight: bold;
// 		padding: 0 0 10px 0;
// 	}

// 	h2 {
// 		padding: 0 0 10px 0;
// 	}
	
// 	p {
// 		padding : 6px 12px;
// 		font-size: 15px;
// 		// background: #eee;
// 		// box-shadow: inset 0 0 0 1px rgba(#000, 0.1);
// 		// border-radius: 4px;
// 		margin: 0 0 13px 0;
// 		border-left: 3px solid #ccc;

// 		&.important {
// 			font-size: 16px;
// 			border-color: lighten(#ff0, 10%);
// 		}
// 		&.future-billing {
// 			font-size: 16px;
// 			border-color: lighten(#0f0, 10%);
// 			background: lighten(#0f0, 45%);
// 		}
// 	}

// }


// #thankyou {
// 	padding: 45px 0 0 0;

// 	.back {
// 		float: right;
// 	}

// 	.logo {
// 		background: url(/__codelab__/site/images/logo-blue.png);
// 		$scale: 0.33;
// 		$width: 1040px * $scale;
// 		$height: 228px * $scale;
// 		width: $width;
// 		height: $height;
// 		background-size: $width $height;
// 		margin: 20px 0 10px 0;
// 	}
	
// 	.message {
// 		background: #fff;
// 		padding: 10px 30px 25px 30px;
// 		border-radius: 8px;
// 		box-shadow: 0 1px 13px rgba(#000, 0.2);
// 	}

// 	.btn {
// 		margin-right: 15px;
// 	}

// 	.confirm {
		
// 		dl {
// 			background: #eee;
// 			border: 1px solid #ccc;
// 			padding: 15px;
// 			border-radius: 3px;
// 		}

// 		dd {
// 			padding-bottom: 10px;

// 			&.last {
// 				padding: 0;
// 			}
// 		}
// 	}

// 	.actions {
// 		text-align: center;
// 	}

// }

// .class-config {
// 	margin: 0;
// 	$class-config-padding: 15px;
// 	$class-config-radius: 4px;
// 	$class-config-color: #fff;
// 	$class-config-dark-color: #887D89;
// 	border-radius: $class-config-radius;
// 	// $class-config-padding: 0;

// 	.schedule {
// 		padding: 0 0 8px 0;
// 		border-radius: 3px;
// 		margin-bottom: 25px;
// 		border: 1px solid lighten($class-config-dark-color, 25%);
// 		// box-shadow: 0 1px 8px rgba($class-config-dark-color, 0.3);
// 	}

// 	ul {
// 		list-style: none;
// 		margin: 0;
// 		// padding: 0 14px;
// 		// background: lighten($class-config-dark-color, 42%);
// 		padding: 0;
// 		margin: 9px $class-config-padding;
// 	}

// 	li {
// 		color: darken($class-config-dark-color, 20%);
// 		// margin: 0 0 15px 0;
// 		// padding: 9px $class-config-padding;
// 		// border: 1px solid #eee;
// 		// box-shadow: 0 1px 8px rgba(0,0,0,0.2);
// 		line-height: 1em;
// 		text-align: center;
// 		padding: 0;

// 		.timeslot-detail {
// 			margin: 0 10px;
// 			background: lighten($class-config-dark-color, 42%);
// 			padding: 10px 0;
// 			border-radius: $class-config-radius;
// 		}
// 	}

// 	background: #fff;
// 	color: darken($class-config-dark-color, 15%);

// 	// $web-color: #894990;
// 	// $code-color: #2C83B6;

// 	// &.web-schedule {
// 	// 	background: $web-color;
// 	// 	li {
// 	// 		color: darken($web-color, 10%);
// 	// 	}
// 	// }

// 	// &.code-schedule {
// 	// 	background: $code-color;
// 	// 	li {
// 	// 		color: darken($code-color, 10%);
// 	// 	}
// 	// }
	
// 	.details {
// 		// text-shadow: 0 1px 3px rgba($class-config-dark-color, 0.1);
// 		text-align: left;

// 		.day-of-week {
// 			font-size: 22px;
// 			font-weight: bold;
// 			padding: 7px $class-config-padding;
// 			background: rgba($class-config-dark-color, 0.15);
// 		}

// 		.title {
// 			font-size: 22px;
// 			line-height: 1.1em;
// 			padding: 13px $class-config-padding 4px $class-config-padding;
// 		}
		
// 		.desc {
// 			line-height: 1.3em;
// 			opacity: 0.7;
// 			margin: 0;
// 			padding: 0 $class-config-padding 20px $class-config-padding;
// 		}
// 	}

// 	.time {
// 		font-size: 22px;
// 		padding: 8px 0;
// 	}

// 	.name {
// 		opacity: 0.5;
// 		font-size: 16px;
// 		padding: 0 0 5px 0;
// 	}

// }

// .schedule-listing {
// 	padding-top: 0;
// }

// .call {
// 	text-align: right;
// 	float: right;
// 	.icon, .number {
// 		display: inline-block;
// 		font-size: 23px;
// 		font-weight: bold;
// 		text-shadow: 0 1px 4px #000;
// 	}
// 	.icon {
// 		margin-right: 5px;
// 	}
// }

// #tutoring {

// 	h1 {
// 		color: #fff;
// 		font-size: 21px;
// 		font-weight: bold;
// 		padding: 0 0 25px 0;
// 	}

// 	a {
// 		background: lighten(#007ACC, 20%);
// 		color: #fff;
// 		display: block;
// 		padding: 20px 0;
// 		text-align: center;
// 		font-size: 19px;
// 		border-radius: 5px;
// 	}
// }
	


@import '_responsive';
