@import '../_reset';
@import '../_utils';
@import '_fonts';

$theme-color: #118CF8;

.error #kiosk .error {
	display: block;
}

#kiosk,
#background {
	background: url(/__codelab__/site/images/login-background.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
}

body, html {
	background: $theme-color;
	font-family: $basic-font;
}

body {
	opacity: 1;
	@include animate('opacity', 1.4s);
	&.loading {
		opacity: 0.4;
	}
}

.kiosk {
	.zEWidget-launcher {
		display: none !important;
	}
}

#kiosk {

	.login-success, .error {
		display: none;
		z-index: 999;
		width: 400px;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		box-shadow: 0 4px 28px rgba(#000, 0.5);
		border-radius: 10px;
		background: #38C672; // darken(#1C8DF2, 0%);
		border: 3px solid lighten(#2FAB62, 25%);
		color: #fff;
		text-shadow: 0 1px 2px #000;

		.detail {
			font-size: 20px;
			padding: 25px 0;
		}

		.name {
			font-weight: bold;
		}

		.auth-code {
			font-family: monospace;
			font-size: 145px;
			padding: 15px 0;
			background: rgba(#000, 0.3);
			border-radius: 10px;
			box-shadow: inset 0 1px 4px rgba(#000, 0.3);
			margin: 0 20px 20px 20px;
		}
		
	}

	.login-success {
		// display: block;
	}

	.error {
		// display: block;
		border: 4px solid #E64B3F;
		background: #2C3F50;

		.message {
			padding: 40px 0;
		}

		h3 {
			font-size: 24px;
			padding: 0 0 15px 0;
		}

		p {
			color: lighten(#344A5D, 45%);
		}


	}

}

.success #kiosk .login-success {
	display: block;
}

#app-login {
	width: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -75%);
	text-align: center;
	position: absolute;
	z-index: 1;
}

#logo {
	$logo-scale: 0.375;
	$logo-width: 1040px * $logo-scale; 
	$logo-height: 228px * $logo-scale;
	background: url(/__codelab__/site/images/logo.png) no-repeat;
	background-size: $logo-width $logo-height;
	width: $logo-width;
	height: $logo-height;
	display: inline-block;
	overflow: hidden;
	text-indent: -100%;
	margin: 0 0 25px 0;
}

#error {
	margin: 0 0 25px 0;
	display: inline-block;
	background: darken(rgba(#E64B3F, 0.8), 10%);
	border: 4px solid #E64B3F;
	padding: 10px 30px;
	border-radius: 5px;
	color: #fff;
	line-height: 1.4em;

	strong {
		font-weight: 600;
		padding: 0 0 5px 0;
		display: block;
	}
}

.field {
	display: inline-block;
	background: rgba(#fff, 0.2);
	padding: 8px 15px;
	border-radius: 9px;
	border: 4px solid #fff;

	input {
		$input-height: 40px;
		height: $input-height;
		line-height: $input-height;
		padding: 0;
		background: none;
		border: none;
		text-align: center;
		outline: none;
		font-size: 32px;
		font-family: monospace;
		width: 140px;
		color: #fff;
		text-shadow: 0 1px 3px rgba(#000, 0.3);
	}

	margin: 0 0 25px 0;
}

.action {
	padding-top: 10px;
}

#login-button {
	color: #fff;

	font-size: 22px;
	padding: 16px 29px;
	box-shadow: inset 0 0 0 4px #fff;
	display: inline-block;
	border-radius: 50px;
	background: rgba(#000, 0.1);

	cursor: pointer;
	@include animate('background', 0.3s);

	&:hover {
		background: rgba(#000, 0.3);
	}
}