
#mobile {
	$mobile-actions-bar-height: $browser-mode-navigation-bar-height;
	$mobile-width: 340px;
	$mobile-height: 580px;
	$pad-side: 10px;
	$pad-top: 25px;
	$pad-bottom: 50px;

	$button-x: 50%;
	$button-y: 17px;
	$button-height: 20px;
	$button-width: 80px;
	
	$item-spacing: 10px;
	$item-height: $mobile-actions-bar-height - ($item-spacing * 2);

	.actions {
		height: $mobile-actions-bar-height;
		background: rgba(#000, 0.2);
		overflow: hidden;

		.ios, .android {
			
			height: $item-height;
			line-height: $item-height;

			float: left;
			overflow: hidden;
			margin: $item-spacing 0 0 0;
			font-size: 13.5px;
			color: #fff;
			background: rgba(#000, 0.3);
			color: #888;

			text-shadow: 0 1px 3px rgba(#000, 0.4);
			padding: 0 13px;
			cursor: pointer;
			box-shadow: inset 0 0 0 1px rgba(#fff, 0.3);
			@include animate('color, background');

			&:hover {
				opacity: 1;
				background: rgba(#fff, 0.1);
			}

		}

		.ios {
			border-radius: 5px 0 0 5px;
			margin-left: 10px;
		}

		.android {
			border-radius: 0 5px 5px 0;
			position: relative;
			left: -1px;
		}

		.orientation, .mode {
			float: left;
			height: $mobile-actions-bar-height;
			line-height: $mobile-actions-bar-height;
			margin-left: 20px;
			opacity: 0.5;

			@include animate('opacity');
			cursor: pointer;

			&:hover {
				opacity: 1;
			}
		}

		.as-portrait {
			transform: rotate(90deg);
		}

		svg {
			position: relative;
			top: 5px;
			@include uniform_size(24px);
		}
	}

	&.as-ios .actions .ios,
	&.as-android .actions .android {
		background: $default-button-color;
		color: #fff;
	}

	&.as-device .device {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: inline;
		background: rgba(0,0,0,0.3);
		padding: $pad-top $pad-side $pad-bottom $pad-side;
		border-radius: 15px;
		box-shadow: inset 0 0 0 1px rgba(#fff, 0.3), 0 4px 18px rgba(#000, 0.3);

		&:after {
			content: '';
			display: block;
			background: rgba(#000, 0.1);
			position: absolute;
			border-radius: 50px;
			box-shadow: inset 0 0 0 1px rgba(#fff, 0.2);

			bottom: $button-y;
			left: $button-x;
			margin-left: -($button-width / 2);
			width: $button-width;
			height: $button-height;
		}
	}

	&.as-device {
		iframe.output {
			width: $mobile-width;
			height: $mobile-height;
			border-radius: 4px;
			background: rgba(#000, 0.3);
			box-shadow: inset 0 0 0 1px rgba(#fff, 0.2);
		}
	}

	&.as-landscape {
		
		iframe.output {
			width: $mobile-height;
			height: $mobile-width;
		}

		&.as-device .device {
			padding: $pad-side $pad-bottom $pad-side $pad-top;

			&:after {
				left: auto;
				bottom: auto;
				top: $button-x;
				right: $button-y;
				left: auto;
				margin: -($button-width / 2) 0 0 0;
				width: $button-height;
				height: $button-width;
			}
		}


	}


	&.as-fullscreen {

		.device {
			position: absolute;
			top: $mobile-actions-bar-height;
			left: 0;
			right: 0;
			bottom: 0;
		}

		iframe.output {
			width: 100%;
			height: 100%;
		}

		.orientation {
			display: none;
		}

	}

	.orientation, .mode {
		display: none;
	}

	&.as-landscape .actions .as-portrait,
	&.as-portrait .actions .as-landscape,
	&.as-fullscreen .actions .as-device,
	&.as-device .actions .as-fullscreen {
		display: block;
	}

	&.as-fullscreen .actions .as-portrait,
	&.as-fullscreen .actions .as-landscape {
		display: none;
	}

}