
#definition {
	position: absolute;
}

#assistant {
	position: fixed;
	bottom: $footer-height;
	right: 0;
	z-index: $layer-assistant;

	.assistant-spacing {
		// background: #f00;
		width: 30px;
		height: 50px;
		float: right;
	}

	&.leave {
		@include animate('opacity, transform', 0.7s);
		pointer-events: none;
		transform: translate(100%, 0);
		opacity: 0 !important;
	}

	.title, .subtitle {
		display: none;
	}

	.has-title .title {
		display: block;
	}

	&.overlay .has-title .title {
		padding-right: 30px;
	}

	.has-subtitle .subtitle {
		display: block;
	}

	&.is-first .previous,
	&.is-checkpoint .previous,
	&.is-question .previous {
		display: none;
	}

	&.is-waiting .next {
		display: none;
	}

	.avatar {
		position: absolute;
		z-index: 1;
	}

	.panel {
		font-size: 18px;
		line-height: 1.4em;
		position: relative;
	}

	// z-index: 1;
	.follow-up {
		display: none;
		padding: 20px 23px 20px 23px;
	}

	.has-follow-up {
		.follow-up {
			display: block;
		}
		.message {
			display: none;
		}
	}


	.snippet {
		margin: 5px 0 15px 0;
		padding: 10px;
		background: #272822;
		border-radius: 5px;
		text-shadow: none;

		.snippet-highlight {
			background: rgba(#fff, 0.15);
			box-shadow: inset 0 0 0 2px rgba(#fff, 0.6);
			position: absolute;
			z-index: 999;
		}
	}

	.define {
		border-bottom: 1px dashed rgba(#fff, 0.5);
		background: rgba(#000, 0.1);
		display: inline-block;
		padding: 0 3px 0 3px;
		border-radius: 2px;
		cursor: help;
		@include animate('transform');
		transform: scale(1, 1);

		&:hover {
			transform: scale(1.1, 1.1);
			background: rgba(#000, 0.2);
		}
	}

	.image {
		margin: 0 0 20px 0;
		background-size: 100% auto;
		opacity: 0.0;
		@include animate('opacity');
		text-align: center;

		&.inline {
			display: inline-block;
			padding-right: 20px;
		}

		&.show-image {
			opacity: 1;
		}

		&.show-image.fade {
			opacity: 0.5;
		}

		&.left {
			text-align: left;
		}

		&.right {
			text-align: right;
		}

		&.fit img {
			width: 100%;
		}

		&.frame img {
			border-radius: 5px;
		}

	}

	$assistant-speech-button-height: 40px;
	$assistant-speech-button-font-size: 16px;
	$assistant-speech-button-vertical-offset: 30px;
	$assistant-speech-button-horizontal-offset: 10px;
	$assistant-speech-disable-button-color: #E64B3F;
	$assistant-speech-enable-button-color: #359AD9;

	.toggle {
		@include align_vertical($assistant-speech-button-height);
		@include clearfix();
		
		position: absolute;
		bottom: 0px;
		right: $assistant-speech-button-horizontal-offset;
		z-index: 100;

		opacity: 0;
		transform: scale(0.8, 0.8) translate(0, $assistant-speech-button-vertical-offset);

		@include animate('background, opacity, transform', 0.3s);

		cursor: pointer;
		border-radius: 100px;
		padding: 0 20px 0 10px;

		// default styles
		color: #fff;
		text-shadow: 0 1px 3px #000;
		font-size: $assistant-speech-button-font-size;
		box-shadow: inset 0 0 0 2px rgba(#fff, 0.1), 0 1px 4px rgba(#000, 0.3);

		&.enabled {
			background-color: $assistant-speech-disable-button-color;

			.enable {
				display: none;
			}
		}

		// toggle disabling
		&.disabled {
			background-color: $assistant-speech-enable-button-color;
			.disable {
				display: none;
			}
		}

		.icon, .label {
			float: left;
		}

		.icon {
			margin-right: 10px;
			width: 30px;
			height: 30px;
			text-align: center;

			svg {
				width: 22px !important;
				height: 22px !important;
				position: absolute;
				top: 5px;
				margin: 0 0 0 -30px;
			}
		}
	}

	.avatar:hover .toggle {
		opacity: 1;
		transform: scale(1, 1) translate(0, $assistant-speech-button-vertical-offset);
	}

	.title {
		padding-bottom: 25px;
		line-height: 1.2em;

		p {
			font-size: 23px !important;
		}
	}

	.has-subtitle .title {
		padding-bottom: 12px;
	}

	.subtitle {
		font-size: 21px;
		opacity: 0.6;
		padding-bottom: 25px;
		font-style: italic;
	}

	.message, .controls, .title {
		p {
			padding-bottom: 15px;
			line-height: 1.3em;
			font-size: 17px;
		}

		p:last-child {
			padding-bottom: 0;
		}

		em {
			font-style: italic;
		}

		strong {
			font-weight: 600;
		}

		code {
			color: $assistant-code-snippet-color;
			background-color: rgba($assistant-code-snippet-color, 0.1);
			box-shadow: inset 0 0 0 1px $assistant-code-snippet-color;
		}
	}

	.actions {
		@include clearfix();
		
		div {
			font-size: 18px;
			cursor: pointer;
			padding: 0 22px;
			border-radius: 100px;
			box-shadow: inset 0 0 0 2px rgba(#fff, 0.3);
		}
		
		// navigate previous button
		.previous {
			float: left;
			box-shadow: inset 0 0 0 2px #fff;
			opacity: 0.5;
			
			&:hover {
				opacity: 0.85;
				@include animate('opacity', 0.3s);
			}
		}
		
		// navigate next button
		.next {
			float: right;
			background: $assistant-next-button-color;
			
			&:hover {
				background: $assistant-next-button-hover-color;
				@include animate('background', 0.3s);
			}
		}

	}

}