#assistant.overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, 0.7);

	$assistant-overlay-padding: 35px;
	$assistant-overlay-actions-gap: 35px;
	$assistant-overlay-actions-padding: 25px;
	$assistant-overlay-avatar-size: 180px;
	$assistant-overlay-avatar-gap: 45px;
	$assistant-overlay-avatar-padding: 10px;

	.hide {
		display: none;
	}

	.avatar {
		@include uniform_size($assistant-overlay-avatar-size);
		border-radius: $assistant-overlay-avatar-size;
		@include gradient(rgba(#000, 0.5), rgba(#000, 0), 0deg);
		box-shadow: 0 0 0 10px #636C72, 0 2px 18px 10px rgba(#000, 0.4);
		
		svg {
			border-radius: 100px;
			@include uniform_size($assistant-overlay-avatar-size - $assistant-overlay-avatar-padding);
			$hp: $assistant-overlay-avatar-padding / 2;
			margin: $hp 0 0 $hp;
			position: relative;
			z-index: 1;
		}

		z-index: 1;
		transform: translate($assistant-overlay-avatar-size - $assistant-overlay-avatar-gap, -60px);
		position: absolute;
		top: 0;
		right: 0;
	}

	.container {
		position: absolute;
		width: 740px;
		top: 40%;
		left: 50%;
		transform: translate(-400px, -50%);
		box-shadow: 0 6px 22px rgba(#000, 0.4);
		margin: 0 0 0 0;
	}

	.panel {
		transform: translate(0, 0);
		padding: $assistant-overlay-padding $assistant-overlay-padding 0 $assistant-overlay-padding;
		background: $assistant-overlay-slide-background-color;
		color: #fff;
		text-shadow: 0 1px 3px rgba(#000, 0.8);
		box-shadow: inset 0 0 0 2px rgba(#fff, 0.2);
		border-radius: 4px;
	}

	.message {
		// padding-right: 35px;
	}

	.title {
		font-size: 28px;
	}

	.has-subtitle .title {
		padding-bottom: 5px;
	}

	.subtitle {
		font-size: 19px;
	}
	
	.actions {
		padding: $assistant-overlay-actions-gap 0 $assistant-overlay-actions-padding 0;

		.previous {
			box-shadow: none;
			background: rgba(#000, 0.3);
		}

		div {
			font-size: 18px;
			padding: 7px 32px;
		}
	}

}