+template('app')
	#app
		.preload #[span.b g] #[span.i g] #[span.b.i g]

		#back(tooltip='Return to the main project page')
			.back-to-projects Back to Projects
			.logo

		#header
			.task-list
			
			.project-data
				.info
					.type.icon
						.web(icon='projectWeb')
						.code(icon='projectCode')
						.game(icon='projectGame')
						.mobile(icon='projectMobile')
				
					.name My Cool Website
					.lesson Lesson
					.detail
						.type
							.web Website	 
							.code Console Application 
							.game Game
							.mobile Mobile Application
						.description This is my cool website stuff and a description of the side

			.actions
				//- .action.settings(icon='actionEdit')
				//- 	.tip Project Settings
				.action.open-in-window(icon='actionOpen')
					.tip Open in new Window
				.action.share-project(icon='actionPublish')
					.tip Share project
				.action.sign-out(icon='signOut')
					.tip Sign Out

	
		#view
		#footer
			.tooltip
