
+template('assistant')
	#assistant
		.container
			.avatar
				#girl-1
					include ../assistants/girl-1.svg

				.toggle.enabled
					.disable
						.icon X
						.label Stop talking
					.enable
						.icon O
						.label Allow talking
			.panel

+template('assistant-slide')
	.slide
		.title
		.subtitle
		.message
		.actions
			.previous Previous
			.next Next

+template('assistant-question')
	.question
		.number
		.text
	
+template('definition-popup')
	#definition
		.content
			.name
			.aka
				.label Also known as:
				span
			.define