
+template('assistant')
	#assistant
		.container
			.show-panel
			.avatar
				#girl-1
					include ../assistants/girl-1.svg

				.toggle.enabled
					.disable
						.icon(icon='actionMute')
						.label Stop talking
					.enable
						.icon(icon='actionSpeak')
						.label Allow talking
			.panel
				.hide &times;

+template('assistant-slide')
	.slide
		.title
		.subtitle
		.message
		.actions
			.previous Previous
			.next Next

+template('assistant-question')
	.question.has-title
		.title
		.message
		.controls
			.choices
			.hint-container
				.activate Show hint
				.hint
			.explain
			.summary

		.actions
			.next Next
	
+template('definition-popup')
	#definition
		.content
			.name
			.aka
				.label Also known as:
				span
			.define
	
+template('prevent-popup')
	#prevent
		.content
			.message
			.explain You need to get further into the lesson before you can use this feature