+template('console')
	table.messages
		tr.heading
			th.icon
			th.line Line
			th.column Col
			th.path File
			th.error Error
			th.hint

+template('console-message', true)
	tr.message
		td.icon
			.as-exception(icon='error')
			.as-warning(icon='warning')

		td.line
		td.column
		td.path
			.file
			.directory
		td.data
		td.hint