

+template('dialog')
	.dialog-container
		.dialog

+template('dialog-create-project')
	.content(dialog-width='700').create-new-project
		.title Create New Project
		.form
			label
				span Project Type

				ul.project-types
					li.project-type.project-type-web(data-type='web')
						.icon(icon='projectWeb')
						.detail
							.label Website
							.description Create a website using HTML, CSS, and JavaScript
					
					li.project-type.project-type-code.alt(data-type='code')
						.icon(icon='projectCode')
						.detail
							.label Code Console
							.description Create a simple console program using JavaScript

					li.project-type.project-type-game(data-type='game')
						.icon(icon='projectGame')
						.detail
							.label Game
							.description Create your own 2D games using JavaScript

					li.project-type.project-type-mobile.alt(data-type='mobile')
						.icon(icon='projectMobile')
						.detail
							.label Mobile App
							.description Create a mobile application using JavaScript

				label
					span Project Name
					.ui-text-input.full
						input.name
				
				label
					span Description #[span.optional Optional]
					.ui-text-input.full.multiline
						textarea.description

			.error

			.actions
				.action.confirm.primary Create Project
				.action.cancel Cancel


+template('dialog-rename-item')
	.content(dialog-width='600').rename-item
		.title Rename #[span.type]

		.message
			| Enter a new name for the selected #[span.type].

		.form
			.error
			.label #[span.type] Name
			.itemName

		.actions
			.action.confirm.primary Rename #[span.type]
			.action.cancel Cancel


+template('dialog-create-file')
	.content(dialog-width='700').create-new-file
		.title Create New File
		
		.message
			| This will create the new file in  
			.in-root the project root folder
			code.in-folder

		include _file-type-selector

		.form
			.error
			.label File Name
			.fileName

		.actions
			.action.confirm.primary Create File
			.action.cancel Cancel


+template('dialog-create-folder')
	.content(dialog-width='500').create-new-folder
		.title Create a New Folder
		.message
			| This will create a new folder in 
			.in-root the project root folder
			code.in-folder

		.form
			.error
			.label Folder Name
			.folderName

		.error

		.actions
			.action.confirm.primary Create Folder
			.action.cancel Cancel


+template('dialog-remove-items')
	.content(dialog-width='600').remove-items
		.title Remove #[span.type]
		.message This will delete the following #[span.type.lowercase] from your project.

		.selection

		.error

		.actions
			.action.confirm.danger Remove #[span.type]
			.action.cancel Cancel


+template('dialog-move-items')
	.content(dialog-width='600').move-items
		.title Move #[span.type]
		.message This will move the following #[span.type.lowercase]...

		.selection

		.message.alt ... to the folder selected below.
		.warn.with-icon.has-conflicts
			.icon(icon='warning')
			.detail Moving to this target folder will overwrite some files already there.
		.folder-selection Select a target folder to move the #[span.type.lowercase] to...

		.actions
			.action.confirm.primary Move #[span.type]
			.action.cancel Cancel


+template('dialog-move-items-item')
	.item
		.icon
		.label


+template('dialog-upload-files')
	.content(dialog-width='650').upload-files
		.title Upload Files
		.message Drag and drop the file you'd like to upload to this project
		.error

		.uploads

		.actions
			.action.cancel Close

+template('dialog-upload-file-item')
	.file-upload-item
		.info
			.activity
				.icon.warning(icon='warning')
				.icon.success(icon='success')
				.icon.failed(icon='error')
				.icon.active(icon='activity')

			.name

		.status
			.progress
				.total
					.current

		.action
			.error-message
			.detail There's another file with the same name
			.options
				.overwrite Overwrite
				.clear Cancel

+template('dialog-share-project')
	.content(dialog-width='600').share-project.multiview
	
		.view.unsent
			.title Share Project
			.message Let your friends and family try out your project from their own devices

			.form
				label
					.select-all Select All
					span People
					.people
						.list

					label
						span Message
						.ui-text-input.full.multiline
							textarea.description Check out my cool project! It's really neat!
		
			.actions
				.action.confirm.primary.share Share Project
				.action.cancel Cancel

		.view.sent
			.title Project Sent!
			.message The link to your project has been sent to the selected people!
			.checkmark(icon='checkmark')

			.actions
				.action.cancel Close


+template('share-project-item')
	.person
		.icon
			.mobile(icon='projectMobile')
			.email(icon='typeEmail')
		.detail
			.name
			.target.mobile Text Message
			.target.email Email

+template('dialog-remove-project')
	.content(dialog-width='600').remove-project
		.title Remove Project
		.message Do you really want to delete this project an all of its files?
		.error

		.actions
			.action.confirm.danger Remove Project
			.action.cancel Cancel

+template('dialog-project-settings')
	.content(dialog-width='600').project-settings
		.title Project Settings

		.error

		.form
			label
				span Project Name
				.ui-text-input.full
					input.name
			
			label
				span Description #[span.optional Optional]
				.ui-text-input.full.multiline
					textarea.description

			label
				span Domain Name
				.message You can add your own domain name so people can browse to your website using. #[a(href='/how-to-domain' target='__custom_domain_name') How to setup your own domain name]
				.ui-text-input.full
					input.domain

		.actions
			.action.confirm.primary Save Changes
			.action.cancel Cancel

+template('dialog-reset-lesson')
	.content(dialog-width='600').reset-lesson
		.title Reset Lesson
		.message Do you really want to reset this lesson an all of its files?
		.error

		.actions
			.action.confirm.danger Reset Lesson
			.action.cancel Cancel

+template('dialog-unsaved-changes')
	.content(dialog-width='640').unsaved-changes
		.title Unsaved Changes
		.message
			| You have files that haven't been saved yet!
			span.is-preview  The new window will not show these changes!
			span.is-closing  Closing the project will cause your changes to be lost!

		.actions
			.action.confirm.primary Save Changes
			.action.ignore Continue without Saving
			.action.cancel Cancel