

+template('dialog')
	.dialog-container
		.dialog

+template('dialog-create-project')
	.form
		label
			span name
			input.name
		
		label
			span description
			textarea.description

		ul
			li.type(data-type='web') Web
			li.type(data-type='code') Code
			//- li.type(data-type='web') Game 2D
			//- li.type(data-type='web') Game 3D

		ul
			li.language(data-type='javascript') JavaScript
			li.language(data-type='lua') Lua
			li.language(data-type='csharp') C#
			li.language(data-type='python') Python
			li.language(data-type='typescript') TypeScript

		.actions
			.action.confirm Create Project
			.action.cancel Cancel


+template('dialog-rename-item')
	.content(dialog-width='600').rename-item
		.title Rename #[span.type]

		.message
			| Enter a new name for the selected #[span.type].
		
		.error
		
		.form
			.label #[span.type] Name
			.itemName

		.actions
			.action.confirm.primary Rename #[span.type]
			.action.cancel Cancel


+template('dialog-create-file')
	.content(dialog-width='700').create-new-file
		.title Create New File
		
		.message
			| This will create the new file in  
			.in-root the project root folder
			code.in-folder

		include _file-type-selector

		.form
			.error

			.label File Name
			.fileName


		.actions
			.action.confirm.primary Create File
			.action.cancel Cancel


+template('dialog-create-folder')
	.content(dialog-width='500').create-new-folder
		.title Create a New Folder
		.message
			| This will create a new folder in 
			.in-root the project root folder
			code.in-folder

		.form
			.error
			
			.label Folder Name
			.folderName

		.actions
			.action.confirm.primary Create Folder
			.action.cancel Cancel

+template('dialog-remove-items')
	.content(dialog-width='600').remove-items
		.title Remove Items
		.message This will delete the following #[span.type] from your project.

		.selection
			.items

		.actions
			.action.confirm.danger Remove Items
			.action.cancel Cancel

+template('dialog-remove-items-item')
	.item
		.icon
		.label