+template('file-browser')
	.project-data
		.name
		.type
		.description

		.options
			.settings Project Settings
			.open-in-window Open in new Window
			.share-project Share project

	.items

+template('file-browser-item')
	.file-browser-item
		.item
			.toggle
			.icon
			.name
		.children
			.contents
		.empty
			.contents This folder is empty

+template('file-browser-actions')
	.actions
		h3 Available Actions
		.action.create-folder
			.icon(icon='addFolder')
			.label Create new folder
		
		.action.create-file
			.icon(icon='addFile')
			.label Create new file
		
		.action.rename-item
			.icon(icon='error')
			.label
				| Rename selected 
				.single
					.is-file file
					.is-folder folder
		
		.action.delete-items
			.icon(icon='error')
			.label
				| Delete selected 
				.single
					.is-folder folder
					.is-file file
				.multiple
					.is-folders folders
					.is-files files
					.is-mixed items
		
		.action.move-items
			.icon(icon='error')
			.label
				| Move selected 
				.single
					.is-folder folder
					.is-file file
				.multiple
					.is-folders folders
					.is-file files
					.is-mixed items