+template('file-browser')
	.actions
		button.action.create-folder +folder
		button.action.create-file +file
		button.action.remove-items -remove
	.items

+template('file-browser-item')
	.file-browser-item
		.item
			.toggle
			.icon
			.name
		.children
			.contents
		.empty
			.contents This folder is empty