+template('file-browser')
	.project-data
		.name
		.type
		.description

		.options
			.settings Project Settings
			.open-in-window Open in new Window
			.share-project Share project

	.items

+template('file-browser-item')
	.file-browser-item
		.item
			.toggle
			.icon
			.name
		.children
			.contents
		.empty
			.contents This folder is empty

+template('file-browser-actions')
	.actions
		h3 Available Actions
		.action.create-folder
			.icon(icon='error')
			.label Create new folder
		
		.action.create-file
			.icon(icon='error')
			.label Create new file
		
		.action.rename-item
			.icon(icon='error')
			.label
				| Rename selected 
				.file file
				.folder folder
		
		.action.delete-item
			.icon(icon='error')
			.label
				| Delete selected 
				.single
					.folder folder
					.file file
				.multi
					.folder folders
					.file files
					.item items
		
		.action.move-item
			.icon(icon='error')
			.label
				| Move selected 
				.single
					.folder folder
					.file file
				.multi
					.folder folders
					.file files
					.item items