
+template('home-view')
	#home.view.is-empty
		.nav
			.about
				.avatar
					.icon(bind='avatar')
					.tooltip Change avatar

				.welcome
					.greet Hello,
					.name(bind='name')

			.sections
					
				.section.lessons(bind='showLessons')
					.name Lessons
					.count(bind='lessonCount')
					
				.section.projects(bind='showProjects')
					.name Projects
					.count(bind='projectCount')

		.content

			.projects
				.heading
					.actions
						.action.create-project Create Project

					h2.title(bind='title')
					p.description(bind='description')

					.filter
						.item.projects-only.default(data-filter='all') All
						.item(data-filter='code') Basic Coding
						.item(data-filter='web') Websites
						.item.projects-only(data-filter='game') Games
						.item.projects-only(data-filter='mobile') Mobile Apps

				.no-lessons You've finished all of the lessons in this category! Check back later since more will be added from time to time.

				.empty
					h2 Let's Start Creating!
					p Seems like you don't have any #[span.for-lesson lessons] #[span.for-project projects] of this type, but you can always create a new one!

					.actions.for-project
						.create-project Create a new Project

				.list(bind='list')
				



+template('project-item')
	.project-item
		.locked
			.info
				h2 This lesson is locked!
				p.requirements Complete the previous lesson to unlock to this lesson
		.bar
		.type
			.web(icon='projectWeb')
			.code(icon='projectCode')
			.game2D(icon='projectGame')
			.game3D(icon='projectGame')
			.mobile(icon='projectMobile')

		.details
			.lesson(bind='lesson')
			.name(bind='name')
			.description(bind='description')

		.modified-at
			.is-new New
			.is-redo Available
			.is-finished Complete
			.time
				span Updated 
				span(bind='modifiedAt')
			
		.actions
			.action.edit 
				.icon(icon='actionEdit')
				.label Edit Project
			.action.reset 
				.icon(icon='actionReset')
				.label Reset Lesson
			.action.open 
				.icon(icon='actionOpen')
				.label Open in New Window
			.action.publish 
				.icon(icon='actionPublish')
				.label Share
			.action.remove 
				.icon(icon='actionRemove')
				.label Remove Project

+template('avatar-select')
	.avatar-select
		.overlay(bind='overlay')
		.container
			for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
				.select(avatar='girl-'+ i icon='girl'+ i + 'Avatar')
				.select(avatar='boy-'+ i icon='boy'+ i + 'Avatar')