
+template('home-view')
	#home.view
		.nav
			.about
				.avatar
					.icon(bind='avatar')
					.tooltip Change avatar

				.welcome
					.greet Hello,
					.name(bind='name')

			.sections
				.section.projects(bind='showProjects')
					.name Projects
					.count(bind='projectCount')
					
				.section.lessons(bind='showLessons')
					.name Lessons
					.count(bind='lessonCount')

		.content
			.projects(bind='projectsView')
				.heading
					h2 Projects
					.actions
						.action.create-project(bind='createProject') Create Project

				.list(bind='projectList')

			.lessons(bind='lessonsView')
				.heading
					h2 Lessons
				.list(bind='lessonList')


+template('project-item')
	.project-item
		.bar
		.type
			.web(icon='projectWeb')
			.code(icon='projectCode')
			.game2D(icon='projectGame')
			.game3D(icon='projectGame')
			.mobile(icon='projectMobile')

		.details
			.name(bind='name')
			.description(bind='description')

		.modified-at
			.is-new New
			.is-finished Complete
			.in-progress In Progress
			.time
				span Updated 
				span(bind='modifiedAt')
			
		.actions
			.action.remove 
				.icon(icon='actionRemove')
				.label Remove Project
			.action.edit 
				.icon(icon='actionEdit')
				.label Edit Project
			.action.reset 
				.icon(icon='actionReset')
				.label Reset Lesson
			.action.publish 
				.icon(icon='actionPublish')
				.label Publish

+template('avatar-select')
	.avatar-select
		.overlay(bind='overlay')
		.container
			for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
				.select(avatar='girl-'+ i icon='girl'+ i + 'Avatar')
				.select(avatar='boy-'+ i icon='boy'+ i + 'Avatar')