
+template('preview')
	.preview-wrapper
		.content

+template('preview-browser')
	.navigation
		.actions
			.action.run-scripts(icon='refresh')
		.title Untitled Page
		.url
			input
		.window
			iframe.output
			iframe.viewer
