
+template('preview')
	.preview-wrapper
		.content

+template('preview-browser')
	.navigation
		//- .actions
		//- 	.action.run-scripts(icon='refresh')
		.title Untitled Page
		.url
			input
		.window
			iframe.output
			iframe.viewer

+template('preview-repl')
	.console
		.actions
			.file-path
			.action.run-scripts.with-shortcut
				.label Run Code
				+shortcut('mod', 'Enter')
		.window
			iframe.output

		