
+template('preview')
	.preview-wrapper
		.navigation
			.actions
				.action.refresh(icon='refresh')
				.action.refresh(icon='refresh')
			.title Untitled Page
			.url
				input

		.content
			iframe
