
+template('preview')
	.preview-wrapper
		.content

+template('preview-browser')
	.navigation
		//- .actions
		//- 	.action.run-scripts(icon='refresh')
		.title Untitled Page
		.url
			input
		.window
			iframe.output
			iframe.viewer

+template('preview-mobile')
	#mobile.view
		.actions
			.switch-platform.ios iOS
			.switch-platform.android Android
			.mode.as-device(icon='device')
			.mode.as-fullscreen(icon='desktop')
			.orientation.as-landscape(icon='rotate')
			.orientation.as-portrait(icon='rotate')

		.device
			iframe.output

+template('preview-game')
	#game.view
		.actions
			.file-path
			.action.run-scripts.with-shortcut
				.label Run Game
				+shortcut('mod', 'Enter')

		.viewport
			iframe.game
			
		.console
			.messages

+template('preview-repl')
	.console
		.actions
			.file-path
			.action.run-scripts.with-shortcut
				.label Run Code
				+shortcut('mod', 'Enter')

		#repl.window
			#alert
				.header
					.close.handle-confirm
					.title Alert message
				.message This is the main message
				.actions
					.confirm.handle-confirm OK

			#error
				h1 Code Exception
				p Looks like there was an error while running that code!
				.message Unspecified error

			pre#output
			#command
				#question Please enter your name
				#input(contenteditable='true' spellcheck='false')

	