
+template('preview')
	.preview-wrapper
		.content

+template('preview-browser')
	.navigation
		//- .actions
		//- 	.action.run-scripts(icon='refresh')
		.title Untitled Page
		.url
			input
		.window
			iframe.output
			iframe.viewer

+template('preview-repl')
	.console
		.actions
			.file-path
			.action.run-scripts.with-shortcut
				.label Run Code
				+shortcut('mod', 'Enter')
		#repl.window
			#error
				h1 Code Exception
				p Looks like there was an error while running that code!
				.message TypeError: Unable to find the function called Console.log

			pre#output
			#command
				#question Please enter your name
				#input(contenteditable='true' spellcheck='false')

	