
+template('project-view')
	#project.view
		#file-browser
		#workspace
		#preview
		#console

+template('project-item')
	.project
		.project-item
			.details
				.name
				.description
				.modifiedAt ??

			.actions
				.action.remove Remove
				.action.publish Publish