+template('ui-dropdown')
	.ui-dropdown
		.current
			.label Select a folder
			.toggle
				.icon(icon='error')
		.ui-dropdown-options
			.overlay
			.items

+template('ui-dropdown-item')
	.ui-dropdown-item
		.label

+template('ui-selection-list')
	.items

+template('ui-selection-list-item')
	.item
		.icon
		.label
