+template('workspace')
	.view
		.editors

+template('workspace-code-editor')
	.code-editor.workspace
		.actions
			.action.save
				.icon(icon='actionSave')
				.label Save Changes
		.editor

+template('workspace-image-viewer')
	.image-viewer.workspace
		.actions
			.action.replace
				.icon(icon='actionSave')
				.label Upload New Image
			.action.fit
				.icon(icon='actionFitSize')
				.label Fit to View
			.action.actual
				.icon(icon='actionActualSize')
				.label Actual Size
		.editor
			.frame
				img

+template('workspace-not-supported')
	.not-supported.workspace
		h1 Oops!
		p Seems like this file type is not supported in this project