@import '../_reset.scss';
@import '_fonts.scss';

body {
	font-family: $default-font;
}

.module {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	opacity: 0.4;

	.content {
		display: none;
		padding: 10px 25px 20px 25px;
	}

	&.active {
		opacity: 1;
	}

	&.active .content {
		display: block;
	}

	.title {
		font-weight: bold;
		font-size: 18px;
		padding: 15px 25px;
		cursor: pointer;
	}

	.controls {

		input {
			margin: 0 15px 0 0;
		}

		input, button {
			padding: 5px;
			font-size: 14px;
		}

	}

}

#error {
	display: none;
	position: absolute;
	left: 50%;
	width: 400px;
	transform: translate(-200px, 15px);
	z-index: 999;
	font-size: 16px;

	color: #fff;
	background: #E64B3F;

	.source {
		padding: 15px;
	}

	.message {
		white-space: pre;
		padding: 15px;
		font-size: 14px;
		margin: 10px;
		margin-top: 0;
		background: rgba(#000, 0.2);
		overflow: auto;
	}
}

#success {
	display: none;
	position: absolute;
	left: 50%;
	width: 400px;
	transform: translate(-200px, 15px);
	z-index: 999;

	color: #fff;
	background: #39CA74;

	.message {
		padding: 15px;
		font-size: 16px;
	}
}

// general toggle state
.is-enabled { display: block; }
.is-disabled { display: none; }
.is-disabled {
	.is-enabled { display: none; }
	.is-disabled { display: block; }
}

.list {
	padding: 10px 25px;

	.record {
		padding: 10px 0;
		
		&:nth-child(even) {
			background: #eee;
		}

		> div {
			display: inline-block;
			padding: 0;
		}
	}

	.actions {
		padding: 0;
		margin: 0;
		text-align: right;
	}

	.size-1 { width: 9.5%; }
	.size-2 { width: 19.5%; }
	.size-3 { width: 29.5%; }
	.size-4 { width: 39.5%; }
	.size-5 { width: 49.5%; }
	.size-6 { width: 59.5%; }
	.size-7 { width: 69.5%; }
	.size-8 { width: 79.5%; }
	.size-9 { width: 89.5%; }

}