@mixin animate($props: 'all', $timing: 0.3s) {
  transition: all $timing;
  transition-property: unquote($props);
}

@mixin gradient($start-color: #555, $end-color: #333, $deg: 90deg) {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient($deg, $start-color, $end-color);
  background-image: -o-linear-gradient($deg, $start-color, $end-color);
  background-image: linear-gradient($deg, $start-color, $end-color);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0);
}