
@import '_reset';
@import '_utils';
@import './app/fonts';
@import './repl';

html, body {
	background: #3B3E46;
}

@mixin logo($scale) {
	$logo-width: 365px * $scale;
	$logo-height: 80px * $scale;
	background: url(/__codelab__/app/header-logo.png);
	background-size: $logo-width $logo-height;
	width: $logo-width;
	height: $logo-height;
}

#install,
#intro,
#program {
	display: none;
}

.intro #intro,
.program #program {
	display: block;
}

.logo {
	@include logo(0.5);
	display: inline-block;
}

#list {
	text-align: center;

	h3.error {
		display: inline-block;
		padding: 3px 11px;
		border-radius: 3px;
		font-family: $default-font;
		background: #E64B3F;
		font-size: 16px;
	}

	p {
		padding: 10px 0 30px 0;
		font-family: $default-font;
		font-size: 15px;
		opacity: 0.5;
	}

	code {
		font-family: $code-font;
		background: rgba(#000, 0.3);
		display: inline-block;
		padding: 3px 7px;
	}

	ul li {
		margin: 0 0 13px 0;
		a {
			display: inline-block;
			width: 300px;
			padding: 7px 0;
			color: #999;
			background: rgba(#000, 0.2);
			text-decoration: none;
			font-size: 17px;
			@include animate('background, color');

			&:hover {
				color: #fff;
				background: rgba(#000, 0.4);
			}
		}
	}

}

#avatar {
	width: 100px;
	height: 100px;
	background: rgba(#000, 0.3);
	border-radius: 100px;
	display: inline-block;

	svg {
		width: 80px;
		height: 80px;
		position: relative;
		top: 10px;
	}
}

#intro {
	text-align: center;
	margin: 10% auto 0 auto;
	text-shadow: 0 1px 4px rgba(#000, 0.4);
	width: 400px;

	.logo-container {
		padding: 0 0 25px 0;
	}

	#avatar {
		margin-bottom: 15px;
	}

	.title, .description {
		font-family: $default-font;
	}

	.title {
		font-size: 30px;
		padding: 0 0 15px 0;
	}

	.description {
		font-size: 17px;
		opacity: 0.6;
		padding: 0 0 20px 0;
		line-height: 1.2em;
	}

	.created-by {
		padding: 0 0 35px 0;
		font-size: 16px;
		font-family: $default-font;
		font-weight: 600;
	}

	.actions {
		padding: 5px 0 0 0;
	}

	.action {
		@include align_vertical(60px);
		font-size: 19px;
		padding: 0 32px;
	}

}

.action {
	font-family: $default-font;
	font-weight: 600;
	display: inline-block;
	cursor: pointer;
	border-radius: 100px;
	background: #369CDA;

	@include animate('background, transform');

	&:hover {
		transform: scale(1.1, 1.1);
		background: lighten(#369CDA, 10%);
	}
}

#program {
	padding: 100px 0 30px 0;

	#error, #alert {
		z-index: $layer-repl-alert;
	}

	.header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(#000, 0.4);
		padding: 20px;
		@include clearfix;
	}

	.logo {
		float: left;
		@include logo(0.4);
	}
	
	.about {
		float: left;
		padding: 0 0 0 25px;
		font-family: $default-font;
		font-size: 20px;
		margin: 3px 0 0 0;
		opacity: 0.8;
	}

	.action {
		float: right;
		@include align_vertical(32px);
		font-size: 16px;
		padding: 0 18px;
		display: none;
	}

}

.is-finished #program .action {
	display: block;
}