
// @import '_reset';
@import '_utils';
@import './app/fonts';
@import './app/_colors';
@import './app/_layers';

@include keyframes(shake_a) {
	0% { transform: translate(1px, -1px) rotate(9deg); }
	25% { transform: translate(-1px, -1px) rotate(-11deg); }
	50% { transform: translate(-1px, 1px) rotate(13deg); }
	75% { transform: translate(-1px, 1px) rotate(-9deg); }
	100% { transform: translate(1px, -1px) rotate(9deg); }
}

@include keyframes(shake_b) {
	0% { transform: translate(-1px, 1px) rotate(-11deg); }
	25% { transform: translate(1px, 1px) rotate(12deg); }
	50% { transform: translate(1px, -1px) rotate(-13deg); }
	75% { transform: translate(-1px, -1px) rotate(9deg); }
	100% { transform: translate(-1px, 1px) rotate(-11deg); }
}

@include keyframes(shake_c) {
	0% { transform: translate(1px, -1px) rotate(-12deg); }
	25% { transform: translate(-1px, 1px) rotate(8deg); }
	50% { transform: translate(1px, 1px) rotate(-10deg); }
	75% { transform: translate(1px, -1px) rotate(11deg); }
	100% { transform: translate(1px, -1px) rotate(-12deg); }
}

#repl {

	div, input {
		font-size: 17px;
		font-family: monospace;
		color: #fff;
		text-shadow: 0 1px 2px rgba(#000, 0.7);
		font-family: $code-font;
	}

	#error, #alert {
		position: fixed;
		top: 100px;
		width: 80%;
		margin: 0 auto;
		border-radius: 5px;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: $layer-repl-alert;
		pointer-events: none;
		opacity: 0;
	}

	#alert {
		background: #fff;
		box-shadow: 0 2px 28px rgba(#000, 0.3);
		
		.message, .header .title {
			font-family: $default-font;
			text-shadow: none;
		}

		// when visible
		&.has-alert {
			@include animate('opacity');
			pointer-events: all;
			opacity: 1;
		}

		.header {
			background: #ccc;
			border-radius: 5px 5px 0 0;
			padding: 8px 12px;
			position: relative;
			
			.title {
				font-size: 13px;
				color: #777;
			}

			.close {
				cursor: pointer;
				$close-size: 13px;
				border-radius: $close-size;
				height: $close-size;
				width: $close-size;
				background: $dialog-action-danger-background;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
		
		.message {
			font-size: 17px;
			color: #000;
			padding: 15px 10px 25px 10px;
		}

		.actions {
			text-align: center;
			padding: 10px 0;
			background: #eee;
			height: auto;
			border-radius: 0 0 5px 5px;
		}

		.confirm {
			cursor: pointer;
			background: $dialog-action-primary-background;
			display: inline-block;
			font-size: 18px;
			padding: 9px 20px;
			border-radius: 5px;
			@include animate('background', 0.2s);

			&:hover {
				background: darken($dialog-action-primary-background, 15%);
			}
		}
	}

	#error {
		@include animate('opacity');
		background: rgba(mix(#DF3B32, #34363D, 50%), 0.9);
		box-shadow: inset 0 0 0 2px #DF3B32, 0 2px 28px rgba(#000, 0.3);

		h1 {
			font-family: $default-font;
			font-size: 20px;
			font-weight: bolder;
			padding: 20px 20px 7px 20px;
		}

		p {
			font-family: $default-font;
			font-size: 15px;
			line-height: 1.2em;
			padding: 0 20px 20px 20px;
			opacity: 0.7;
		}

		.message {
			font-family: $code-font;
			padding: 19px 22px;
			font-size: 19px;
			line-height: 1.2em;
			background: rgba(0,0,0,0.1);
		}

		.more {
			display: none;
		}
		
		&.has-more.more {
			display: block;
		}


		// when visible
		&.has-error {
			opacity: 1;
		}

	}

	#code {
		display: none;
	}

	#output {
		padding: 0;
		white-space: normal;
		line-height: 1.2em;

		.console-multi-item {
			$console-item-gap: 12px;
			display: inline-block;
			margin-right: $console-item-gap;
			padding-left: $console-item-gap;
			border-left: 2px solid rgba(#000, 0.2);

			&:nth-child(1) {
				padding-left: 0;
				border: none;
			}
		}

		.console-image {
			max-width: 100%;
			max-height: 300px;
		}

		.line {
			padding: 8px 17px;
		}

		.line:nth-child(odd) {
			background: rgba(#000, 0.125);
		}

		.start, .end {
			background: lighten(#3B3E46, 7%) !important;
			padding: 0 25px;
			color: lighten(#23262A, 47%);
			margin: 0 0 20px 0;
			text-shadow: none;
			@include align_vertical(50px);
		}

		$console-background-default: #34363D;
		$console-background-warn: #F2C52B;
		$console-background-error: #DF3B32;
		$console-background-success: #39CA74;
		$console-background-info: #33B1FF;
		$default-background-mix: 50%;
		$alt-row-background-darken: 7%;
		$default-background-opacity: 0.4;

		.line.warn {
			background: rgba(mix($console-background-warn, $console-background-default, $default-background-mix), $default-background-opacity);
			color: rgb(255, 249, 67);
		}

		.line.error {
			background: rgba(mix($console-background-error, $console-background-default, $default-background-mix), $default-background-opacity);
			color: rgb(255, 126, 97);
		}

		.line.success {
			background: rgba(mix($console-background-success, $console-background-default, $default-background-mix), $default-background-opacity);
			color: rgb(133, 255, 182);
		}

		.line.info {
			background: rgba(mix($console-background-info, $console-background-default, $default-background-mix), $default-background-opacity);
			color: rgb(172, 222, 255);
		}

		.line.warn:nth-child(odd) {
			background: darken(rgba(mix($console-background-warn, $console-background-default, $default-background-mix), $default-background-opacity), $alt-row-background-darken);
		}

		.line.error:nth-child(odd) {
			background: darken(rgba(mix($console-background-error, $console-background-default, $default-background-mix), $default-background-opacity), $alt-row-background-darken);
		}

		.line.success:nth-child(odd) {
			background: darken(rgba(mix($console-background-success, $console-background-default, $default-background-mix), $default-background-opacity), $alt-row-background-darken);
		}

		.line.info:nth-child(odd) {
			background: darken(rgba(mix($console-background-info, $console-background-default, $default-background-mix), $default-background-opacity), $alt-row-background-darken);
		}

		.end {
			font-style: italic;
			background: darken(#3B3E46, 4%) !important;
			color: lighten(#23262A, 27%);
			margin: 20px 0 0 0;
		}

		// rainbow colors
		.rainbow { background: rgba(#000, 0.3); }
		.color-r { color: rgb(247, 19, 19); }
		.color-o { color: rgb(247, 170, 28); }
		.color-y { color: rgb(242, 242, 23); }
		.color-g { color: rgb(31, 244, 31); }
		.color-b { color: rgb(49, 148, 255); }
		.color-i { color: rgb(187, 103, 255); }
		.color-v { color: #EE82EE; }

		$shake-animation-time: 0.5s;
		.shake {
			font-style: italic;
			span {
				position: relative;
				display: inline-block;
				white-space: pre;
				animation: shake_a $shake-animation-time infinite;
			}

			span:nth-child(3n+4) {
				animation: shake_c $shake-animation-time infinite;
			}
			
			span:nth-child(3n+3) {
				animation: shake_b $shake-animation-time infinite;
			}
			
			span:nth-child(3n+2) {
				animation: shake_a $shake-animation-time infinite;
			}
			
			span:first-child {
				animation: none;
			}

		}
		
	}

	#question {
		opacity: 0.7;
		padding: 0 0 12px 0;
		font-style: italic;
		display: none;

		.has-question & {
			display: block;
		}
	}

	#command {
		padding: 25px 15px 15px 25px;
		margin: 10px 0 40px 0;
		@include gradient(rgba(#000, 0.175), rgba(#000, 0.0), 180deg);
		
		#question, #input {
			font-size: 110%;
			font-weight: 300;
		}

		text-indent: 0;
		position: relative;

		// not selectable
		opacity: 0;
		pointer-events: none;
		
		.needs-input & {
			opacity: 1;
			pointer-events: all;
			position: relative;
			top: 0;
		}
		
		#input {

			// don't allow newlines inside of the input
			* {
				display: inline-block;
			}

			&:before {
				content: '>';
				position: absolute;
				left: 7px;
				opacity: 0.5;
				transform: scale(0.5, 1.4) translate(0, 2px);
			}

			word-wrap: none;
			white-space: nowrap;
			outline: none;
			color: #fff;
			font-family: monospace;
			line-height: 22px;
		}

		input {
			height: 40px;
			line-height: 40px;
		}

	}

}