.dialog .remove-items {

	$remove-item-size: 22px;
	
	.selection {
		@include clearfix();
		position: relative;

		.items {
			min-height: 100px;
			max-height: 305px;
			overflow: auto;
			padding: 20px;
		}
		
		background: #f3f3f3;
		// box-shadow: inset 0 0 0 1px #ccc;
		border: 1px solid #ccc;
		border-radius: 5px;

		&:before {
			content: ' ';
			display: block;
			position: absolute;
			bottom: 0;
			left: 1px;
			right: 1px;
			border-radius: 5px;
			height: 30px;
			@include gradient(#eee, rgba(#eee, 0), 0deg);
		}

		.item {
			clear: both;
			padding: 5px 0;
			white-space: nowrap;
		}

		.icon, .label {
			display: block;
			float: left;
			@include align_vertical($remove-item-size);
		}

		.icon svg {
			@include uniform_size(22px);
		}

		.label {
			padding-left: 10px;
			font-size: 18px;
			white-space: nowrap;
		}

	}

}