section#footer
	.logo
	.copyright CodeLab &copy; #{(new Date).getFullYear()}
	.content
		a(href='/policies') Terms &amp; Conditions
		span.separator |
		a#handle-login Student Login
		span.separator |
		a(href='https://codelab.chargebeeportal.com/' target='__account_management') Account Management