mixin standard_header(section, isPartial)
	section#hero.partial
		.container

			#header
				a.logo(href='/') CodeLab
				.nav
					a(href='/') Return to Home

			#intro
				.details
					h1 #{section}
					p
						block