mixin standard_header(section, isPartial)
	.header(class=(isPartial ? 'partial' : ''))
		.container

			.row.bar
				a.logo(href='/') CodeLab

			.row.intro
				.feature #{section}
				.details
					block
				.actions
					a.button.how-it-works(href='/') Return to Home