doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		title
			block title

		link(rel='shortcut icon' href='/__codelab__/site/icons/favicon.ico' type='image/x-icon')
		link(rel='icon' href='/__codelab__/site/icons/favicon.ico' type='image/x-icon')
		link(rel='apple-touch-icon' sizes='57x57' href='/__codelab__/site/icons/apple-icon-57x57.png')
		link(rel='apple-touch-icon' sizes='60x60' href='/__codelab__/site/icons/apple-icon-60x60.png')
		link(rel='apple-touch-icon' sizes='72x72' href='/__codelab__/site/icons/apple-icon-72x72.png')
		link(rel='apple-touch-icon' sizes='76x76' href='/__codelab__/site/icons/apple-icon-76x76.png')
		link(rel='apple-touch-icon' sizes='114x114' href='/__codelab__/site/icons/apple-icon-114x114.png')
		link(rel='apple-touch-icon' sizes='120x120' href='/__codelab__/site/icons/apple-icon-120x120.png')
		link(rel='apple-touch-icon' sizes='144x144' href='/__codelab__/site/icons/apple-icon-144x144.png')
		link(rel='apple-touch-icon' sizes='152x152' href='/__codelab__/site/icons/apple-icon-152x152.png')
		link(rel='apple-touch-icon' sizes='180x180' href='/__codelab__/site/icons/apple-icon-180x180.png')
		link(rel='icon' type='image/png' sizes='192x192' href='/__codelab__/site/icons/android-icon-192x192.png')
		link(rel='icon' type='image/png' sizes='32x32' href='/__codelab__/site/icons/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='96x96' href='/__codelab__/site/icons/favicon-96x96.png')
		link(rel='icon' type='image/png' sizes='16x16' href='/__codelab__/site/icons/favicon-16x16.png')
		link(rel='manifest' href='/__codelab__/site/icons/manifest.json')

		meta(name='msapplication-TileColor' content='#e24d49')
		meta(name='msapplication-TileImage' content='/__codelab__/site/icons/ms-icon-144x144.png')
		meta(name='theme-color' content='#e24d49')

		block head
		
		//- if lt IE 9
			script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
			script(src='vendor/html5shiv.js')
			script(src='vendor/respond.js')

		block resources

	body
		block content

		block scripts

		if !production
			script(type='text/javascript' src='http://localhost:35729/livereload.js?snipver=1')



