extends _template

block title
	| Kiosk Login

block head
	link(rel='stylesheet' type='text/css' href='/__codelab__/site/login.css')

block content

	#kiosk
		#app-login
			#logo

		.login-success
			.detail Hello #[span.name Hugo], your code is...
			.auth-code 876

		.error
			.message
				h3 Unable to Sign In
				p Speak to the CodeLab Coach for assistance

block scripts
	script(type='text/javascript' src='/__codelab__/kiosk.js')