extends _template
include _header

block title
	| Policies / CodeLab

block head
	link(rel='stylesheet', type='text/css', href='/__codelab__/site/index.css')

block content
	.main.content

		+standard_header('CodeLab Policies', true)
			| Rules, Terms, and Conditions for CodeLab

	.doc
		.section.policies.container
			for policy in content.policies
				.row.content
					.col-md-8.explanation
							h3.title= policy.title
							div !{policy.content}
					.col-md-4.summary
						h4 Basically, we're saying...
						.simple !{policy.summary}

	include _footer
