extends _template
include _header

block title
	| Showcase / CodeLab

block head
	link(rel='stylesheet', type='text/css', href='/__codelab__/site/index.css')
	meta(name='description' content='Examples of programs and websites created by our students')
	meta(name='robots' content='index, follow')

mixin showcase_item(item)
	.item(class='type-'+ item.type)
		a(href='//' + item.id + '.codelabschool.com/' target='_app_'+ item.id rel='nofollow')
			.thumbnail(style='background-image: url(/__codelab__/showcase/'+ item.id +'.jpg)')
			.info
				.title= item.title
				.created-by Made by #{item.created_by}
				.description= item.description

block content
	//- script(type='text/javascript').
	//- 	document.body.className = 'loading';

	//- .loading
	//- 	h1 Loading

	//- .main.content

	+standard_header('Student Showcase')
		| Check out some of the creations made using CodeLab

	section#showcase
		.container
			for item in showcase
				+showcase_item(item)

	include _footer