$dialog-overlay-background-color: rgba(#000, 0.7);
$dialog-content-background-color: #fff;

$header-background: #118CF8;
$footer-background: #484D59;
$primary-background: #2F3238;
$file-browser-background: #3B3E46;
$preview-background: #3B3E46;
$console-background: darken(#2F3238, 5%);

$tab-bar-modified-indicator-highlight-color: #fee186;
$tab-bar-modified-indicator-base-color: #FFB337;

$workspace-tab-bar-background: darken(#2F3238, 5%);
$workspace-tab-bar-text-color: lighten(#484D58, 25%);
$workspace-tab-bar-tab-active-background: $primary-background;
$workspace-tab-bar-tab-active-text-color: #fff;
$workspace-action-background-color: darken(#9FED5C, 20%);
$workspace-action-text-color: #fff;

// dialog windows
$dialog-default-text-color: #2c3f50;
$dialog-message-default-text-color: #7f8c8d;
$dialog-action-default-text-color: #fff;
$dialog-action-default-background: #95a5a6;
$dialog-action-default-hover-background: darken($dialog-action-default-background, 10%);
$dialog-action-primary-text-color: #fff;
$dialog-action-primary-background: #359ad9;
$dialog-action-primary-hover-background: darken($dialog-action-primary-background, 10%);
$dialog-action-secondary-text-color: #ecf0f1;
$dialog-action-secondary-background: #344a5d;
$dialog-action-secondary-hover-background: darken($dialog-action-secondary-background, 10%);
$dialog-action-cancel-text-color: #95a5a6;
$dialog-action-cancel-background: #ecf0f1;
$dialog-action-cancel-hover-background: darken($dialog-action-cancel-background, 10%);
$dialog-action-secondary-hover-background: darken($dialog-action-secondary-background, 10%);
$dialog-action-danger-text-color: #fff;
$dialog-action-danger-background: #e64b3f;
$dialog-action-danger-hover-background: darken($dialog-action-danger-background, 10%);

// formatting
$inline-code-light-background-primary-color: #00B2FF;

// file uploads
$file-upload-success-alternate-color: #39CA74;
$file-upload-success-main-color: darken(#30AD63, 15%);
$file-upload-error-alternate-color: #E54D42;
$file-upload-error-main-color: darken(#BE3A31, 15%);
$file-upload-warning-alternate-color: #F0C330;
$file-upload-warning-secondary-color: #F19B2C;
$file-upload-warning-main-color: darken(#F19B2C, 15%);
$file-upload-progress-background-color: #eee;
$file-upload-progress-bar-color: #3A99D8;
$file-upload-drop-zone-outline-color: #54B7FF;

// assistant view
$assistant-popup-background-opacity: 0.75;
$assistant-overlay-slide-background-color: #636C72;
$assistant-next-button-color: #359AD9;
$assistant-next-button-hover-color: lighten(#359AD9, 15%);
