
$console-icon-size: 23px;

#console {
	z-index: $layer-console;
	overflow-x: auto;

	.messages {
		width: 100%;

		th {
			padding: 10px 5px;
			font-size: 14px;
			background: rgba(#fff, 0.05);
			color: rgba(#fff, 0.4);
			border-bottom: 1px solid rgba(#fff, 0.3);
		}

		th.error, th.path {
			text-align: left;
		}

		td {
			// overflow: hidden;
			padding: 10px;
			vertical-align: top;
			font-size: 17px;
		}

		tr.is-exception {
			background: rgba(#f00, 0.125);
			border-bottom-color: rgba(#f00, 0.33);
		}

		td .directory {
			font-size: 14px;
			opacity: 0.6;
			padding: 4px 0 0 0;
		}
	}

	.icon {
		width: 30px;

		svg {
			// position: absolute;
			margin: -3px 0 0 0;
			width: $console-icon-size;
			height: $console-icon-size;
		}
	}

	.message {
		@include clearfix;
		color: #fff;
		border-bottom: 1px solid rgba(#fff, 0.2);

		// > div {
		// 	// @extend .message-block;
		// 	// padding: 8px 5px;
		// }

		.line, .column {
			width: 40px;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}

		// normal errors
		.name {
			display: none;
		}

		.as-exception {
			display: none;
		}

		&.is-exception {
			// .name {
			// 	// @extend .message-block;
			// }

			.as-exception {
				display: block;
			}

			.as-warning {
				display: none;
			}

		}

	}

	.data {
		white-space: pre;
	}

}