
$file-browser-font-size: 17px;
$file-browser-item-height: 36px;
$file-browser-item-padding: 2px;
$file-browser-icon-size: 18px;
$file-browser-icon-padding: 5px;
$file-browser-toggle-size: 9px;
$file-browser-toggle-padding: 2px;
$file-browser-children-bottom-padding: 5px;
$file-browser-item-selection-color: #A0DEFF;
$action-item-height: 36px;
$action-item-icon-size: $action-item-height * 0.6;

.file-browser-item {
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	position: relative;

	font-size: $file-browser-font-size;

	&:before {
		content: ' ';
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 5px;
		background: $file-browser-background;
	}

	// don't allow text selection
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	// tree depth - anything deeper is just silly
	@for $i from 1 through 35 {
		&.depth-#{$i} > {
			.item, .empty {
				left: (10px * $i);
			}
			
			.children:before {
				left: 10px * $i;
			}
		}
	}

	.item, .children, .empty {
		clear: both;
		padding: 0 $file-browser-item-padding;
		@include clearfix();
	}

	.item {
		padding: 0 0 0 30px;
		position: relative;
		
		&:hover {
			background: rgba($file-browser-item-selection-color, 0.1);
		}
	}

	&.is-folder > .item {
		padding: 0 0 0 43px;
	}

	.icon {
		position: absolute;
		padding: 0 $file-browser-icon-padding;
		margin: 0 0 0 -30px;
		svg {
			margin-top: ($file-browser-item-height / 2) - ($file-browser-icon-size / 2);
			width: $file-browser-icon-size;
			height: $file-browser-icon-size;
		}
	}

	.toggle {
		margin: 0 0 0 -40px;
		position: absolute;
		display: none;
		padding: 0 $file-browser-toggle-padding;
		@include animate('transform', 0.2s);

		svg {
			width: $file-browser-toggle-size;
			height: $file-browser-toggle-size;
		}
	}

	.icon, .name, .toggle {
		@include align_vertical($file-browser-item-height);
		white-space: nowrap;
		text-overflow: ellipsis;
		display: block;
		float: left;
	}

	.empty, .children {
		display: none;
	}

	.empty .contents {
		margin: 5px 5px 8px 8px;
		padding: 8px;
		border: 1px dotted rgba(255, 255, 255, 0.2);
		background: rgba(0,0,0,0.1);
		color: rgba(255, 255, 255, 0.3);
		border-radius: 4px;
		font-size: 14px;
		font-style: italic;
		text-align: center;
	}

	.children {
		position: relative;

		&:before {
			position: absolute;
			content: ' ';
			top: 0;
			bottom: 0;
			margin-left: 7px;
			border-left: 1px dotted rgba(255, 255, 255, 0.4);
		}
	}

	&.is-folder {
		> .item > .toggle {
			display: inline-block;
			> .collapse { display: none; }
		}

		&.expanded {
			> .children { 
				display: block; 
				padding: 0 0 $file-browser-children-bottom-padding 0;
			}	

			&.is-empty {
				.empty { display: block; }
				.children { display: none; }
			}

			& > .item > .toggle {
				display: inline-block;
				transform: rotate(90deg);
			}
		}
	}

	&.selected > .item {
		background: rgba($file-browser-item-selection-color, 0.2);
	}

}

#file-browser {

	.items {
		overflow: auto;
		&:after {
			content: ' ';
			display: block;
			height: 30px;
		}
	}

	.actions {
		background: darken($file-browser-background, 2%);
		color: #fff;
		border-top: 1px solid lighten($file-browser-background, 10%);

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding-bottom: 10px;

		h3 {
			padding: 13px 10px;
			opacity: 0.5;
			font-size: 90%;
		}

		.action {
			display: none;
			height: $action-item-height;
			@include clearfix;
			cursor: pointer;

			&:hover {
				background: rgba($file-browser-item-selection-color, 0.1);
			}
		}
		
		.icon {
			display: block;
			float: left;
			position: relative;
			
			height: $action-item-height;
			width: $action-item-height;
			
			svg {
				@extend .centered;
				width: $action-item-icon-size;
				height: $action-item-icon-size;
			}
		}
		
		.label {
			display: block;
			float: left;
			@include align_vertical($action-item-height);
		}

		// enablement
		&.allow-create-folder .create-folder,
		&.allow-create-file .create-file,
		&.allow-upload-file .upload-file,
		&.allow-rename-item .rename-item,
		&.allow-delete-items .delete-items,
		&.allow-move-items .move-items {
			display: block;
		}

		// actions list
		.multiple,
		.single,
		.single .is-file,
		.single .is-files,
		.single .is-folder,
		.single .is-folders,
		.multiple .is-file,
		.multiple .is-files,
		.multiple .is-folder,
		.multiple .is-folders,
		.multiple .is-mixed {
			display: none;
		}

		&.multi-selection .multiple,
		&.single-selection .single,
		&.only-files .is-file,
		&.only-files .is-files,
		&.only-folders .is-folder,
		&.only-folders .is-folders,
		&.mixed-selection .is-mixed {
			display: inline-block;
		}

	}

}