
.file-browser-item {
	color: #fff;
	cursor: pointer;

	// don't allow text selection
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	// tree depth - anything deeper is just silly
	@for $i from 1 through 30 {
		&.depth-#{$i} > {
			.item, .empty {
				padding-left: 10px * $i;
			}
		}
	}

	.toggle {
		display: none;
	}

	.icon, .name {
		display: inline-block;
	}

	.empty, .children {
		display: none;
	}

	&.is-folder {
		> .item > .toggle {
			display: inline-block;
			> .collapse { display: none; }
		}

		&.expanded {
			.children { display: block; }	

			&.is-empty {
				.empty { display: block; }
				.children { display: none; }
			}

			& > .item > .toggle {
				display: inline-block;
				& > .collapse { display: block; }
				& > .expand { display: none; }
			}

		}
	}

	&.selected > .item {
		background: rgba(#fff, 0.2);
	}

}