
$form-input-default-font-size: 18px;
$form-input-default-height: 38px;
$form-input-default-border-radius: 4px;

.ui-text-input {
	background: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 4px;
	
	input {
		padding: 0 9px;
		border: none;
		padding: none;
		@include align_vertical($form-input-default-height);
		font-size: $form-input-default-font-size;
		outline: none;
		background: none;
	}

	&.with-tail {
		border-radius: $form-input-default-border-radius 0 0 $form-input-default-border-radius;
	}

	.suffix {
		@include align_vertical($form-input-default-height);
		font-size: $form-input-default-font-size;
		background: #eee;
		padding: 0 9px 0 5px;
		border-left: 1px solid #ccc;
		border-radius: 0 $form-input-default-border-radius $form-input-default-border-radius 0;
		display: none;	
	}

	&.with-suffix .suffix {
		display: inline-block;
	}
}

