$layer-prevent: 550;
$layer-dropdown: 500;
$layer-definition: 450;
$layer-hint: 425;
$layer-focus-marker: 400;
$layer-back-button: 375;
$layer-assistant: 350;
$layer-dialog: 300;
$layer-repl-alert: 250;
$layer-focus-highlight: 200;
$layer-avatar-selection: 100;
$layer-header: 5;
$layer-footer: 5;
$layer-preview: 3;
$layer-view: 2;
$layer-console: 1;