$layer-dropdown: 500;
$layer-prevent: 253;
$layer-definition: 252;
$layer-focus-marker: 251;
$layer-assistant: 250;
$layer-focus-highlight: 249;
$layer-dialog: 100;
$layer-header: 5;
$layer-footer: 5;
$layer-preview: 3;
$layer-view: 2;
$layer-console: 1;