
#preview {

	.preview-wrapper {
		position: absolute;
		top: 0;
		left: $preview-separator-width;
		right: 0;
		bottom: 0;
	}

	.navigation {
		display: none;
	}

	.content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		iframe {
			border: none;
			width: 100%;
			height: 100%;
		}
	}

	&.mode-html {

		.navigation {
			display: block;

			height: $preview-navigation-height;
			background: #eee;

			.actions {
				position: absolute;
				left: 0;
				right: 0;
			}

			.url {
				position: absolute;
				left: 40px;
				right: 10px;
				top: $preview-navigation-item-gap;

				box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
				background: rgba(255, 255, 255, 0.7);
				border-radius: 4px;
				
				input {
					font-size: 16px;
					width: 100%;
					padding: 0;
					background: none;
					outline: none;
					text-indent: 10px;
					height: $preview-navigation-item-height;
					border: 0;
				}
			}

		}

		.content {
			top: $preview-navigation-height;
			background: #fff;
		}

	}

}