
$workspace-tab-bar-close-button-size: 11px;
$workspace-tab-bar-close-button-gap: 5px;
$workspace-tab-bar-tab-padding: 20px;
$workspace-tab-name-close-gap: 4px;
$workspace-tab-name-gap: 15px;
$workspace-tab-close-gap: 5px;
$tab-bar-modified-indicator-size: 7px;

.element {
  animation: pulse 5s infinite;
}

@include keyframes(indicator-dot) {
	0% {
		transform: scale(1, 1);
		background-color: $tab-bar-modified-indicator-base-color;
	}
	50% {
		transform: scale(1.2, 1.2);
		background-color: $tab-bar-modified-indicator-highlight-color;
	}
	100% {
		transform: scale(1, 1);
		background-color: $tab-bar-modified-indicator-base-color;
	}
}

@include keyframes(indicator-ring) {
	0% {
		transform: scale(0.9, 0.9);
		border-color: $tab-bar-modified-indicator-base-color;
		opacity: 1;
	}
	85% {
		transform: scale(2, 2);
		border-color: $tab-bar-modified-indicator-highlight-color;
		opacity: 0;
	}
	100% {
		opacity: 0;
		border-color: $tab-bar-modified-indicator-base-color;
		transform: scale(0.9, 0.9);
	}
}

.tab-bar {

	height: $workspace-tab-bar-height;
	background: $workspace-tab-bar-background;
	color: $workspace-tab-bar-text-color;
	cursor: pointer;

	.tab {
		position: relative;
		display: inline-block;
		height: $workspace-tab-bar-height;
		padding: 0 ($workspace-tab-close-gap + 20px) 0 $workspace-tab-name-gap;
		
		.modified, .modified:before {
			display: none;
			width: $tab-bar-modified-indicator-size;
			height: $tab-bar-modified-indicator-size;
			border-radius: $tab-bar-modified-indicator-size;
		}
		
		&.is-modified .modified {
			display: inline-block;
		}
		
		.modified {
			position: relative;
			@include animation(indicator-dot 3s infinite);
			background : $tab-bar-modified-indicator-highlight-color;
			margin: -3px 7px 0 0;
			
			&:before {
				display: inline-block;
				position: absolute;
				@include animation(indicator-ring 3s infinite);
				margin: -2px 0 0 -2px;
				content: ' ';
				border: 2px solid $tab-bar-modified-indicator-highlight-color;
			}
		}
		
		&.active {
			background: $workspace-tab-bar-tab-active-background;
			color: $workspace-tab-bar-tab-active-text-color;
		}
		
		.name, .close {
			display: inline-block;
			line-height: $workspace-tab-bar-height;
		}

		.name {
			padding: 0 $workspace-tab-name-close-gap 0 0;
			max-width: 130px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.close {
			opacity: 0.3;
			@include animate('transform opacity', 0.2s);
			margin: 0 $workspace-tab-bar-close-button-gap;
			position: absolute;
			
			svg {
				width: $workspace-tab-bar-close-button-size;
				height: $workspace-tab-bar-close-button-size;
			}

			&:hover {
				opacity: 1;
				transform: scale(1.4, 1.4) rotate(90deg);
			}
		}

		&.is-modified .modified {
			opacity: 1;
		}


	}
}