
#header .task-list-container {
	right: 10px;
	position: absolute;
	z-index: $layer-task-list;
	display: none;

	// height: $header-height;
	height: auto;
	overflow: hidden;
	max-width: 500px;

	color: #fff;
	background-color: rgba(#000, 0.15);
	.entry {
		position: relative;
	}

	.topic {
		display: none;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		right: 0;
		background: rgba(#000, 0);
		border-radius: 50px 0 0 50px;
		padding-right: 10px;

		.icon {
			float: right;
			padding: 0 5px;
		}

		svg {
			opacity: 0.5;
			@include uniform_size(16px);
		}

		.topic-source {
			@include animate('width, padding', 0.2s);
			font-size: 13px;
			// padding: 8px 20px;
			// display: none;
			// position: absolute;
			width: 0;
			padding: 8px 0;
			overflow: hidden;
			float: right;

			.source {
				opacity: 0.6;
				margin-right: 5px;
			}

			.content {
				opacity: 1;
			}
		}

		&:hover {
			background: rgba(#000, 0.9);

			.topic-source {
				width: auto;
				padding: 8px 10px 8px 20px;
			}

		}
	}

	.instructions {
		display: none;
		white-space: normal;
		padding: 15px 25px;
	}

	.error {
		display: none;
		position: relative;
		background: rgba(#f00, 0.4);
		padding: 12px 0;
		margin: 0 0 10px 0;
		@include clearfix;

		.icon {
			position: absolute;
			padding: 0 0 0 10px;
			svg {
				@include uniform_size(26px);
			}
		}

		.details {
			padding: 0 10px 0 50px;
		}

		.base {
			font-size: 13.5px;
			font-weight: 500;
			padding: 0 10px 10px 0px;
		}

		.ex {
			font-family: $code-font;
			background: rgba(#000, 0.2);
			padding: 10px 12px;
			font-size: 14.5px;
		}
	}

	&.has-goal:hover .instructions {
		display: block;
	}

	.has-topic .topic {
		display: block;
	}

	&.active {
		display: block;
	}

	strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}

	> .list {
		display: none;
		overflow-y: auto;
	}

	&:hover {
		background-color: rgba(#000, 0.9);

		> .list {
			clear: both;
			padding: 0 0 10px 0;
			display: block;
			max-height: 660px;
		}

		border-radius: 0 0 5px 5px;

		&.has-error .error {
			display: block;
		}
	}

	code {
		font-family: $code-font;
		display: inline-block;
		padding: 2px 5px;
		background: rgba(#fff, 0.1);
		border-radius: 3px;
		box-shadow: inset 0 0 0 1px rgba(#fff, 0.2)
	}
	
	.heading {
		height: $header-height;
		.title, .progress {
			line-height: $header-height;
			padding: 0 22px;
		}

		.title {
			font-weight: bold;
			float: left;
			padding-right: 100px;
		}

		.progress {
			float: right;
		}
	}

	// tree depth - anything deeper is just silly
	@for $i from 0 through 8 {
		.task-depth-#{$i} .entry {
			padding: 8px 20px 8px ((25px * $i) + 20px);
		}
	}
	
	.task-depth-0 > .entry {
		font-size: 16px !important;
	}

	.task {
		.count {
			visibility: hidden;
		}

		&.has-tasks.task-depth-0 {
			// margin-top: 5px;
		}

		&.has-tasks.task-depth-1 {
			margin-bottom: 10px;
		}
		
		&.has-tasks.complete > .entry > .activity > .count {
			visibility: visible;
		}

	}

	.task .entry {
		opacity: 0.6;
		font-size: 15px;
		clear: both;
		cursor: pointer;
		@include animate('background', 0.3s);
		border-bottom: 1px solid rgba(#fff, 0.1);

		&:hover {
			background: rgba(#fff, 0.15);
			opacity: 1;
		}

		.activity {
			$container-size: 14px;
			$check-size: 10px;

			.state {
				display: inline-block;
				width: $container-size;
				height: $container-size;
				border-radius: 2px;
				background: #444;
				
				.done {
					width: $check-size;
					height: $check-size;
					border-radius: 2px;
					border: 1px solid rgba(0,0,0,0);
					position: relative;
					top: 1px;
					left: 1px;
				}
			}

			.count {
				float: right;
				font-size: 13px;
				color: #fff;
				background: rgba(#000, 0.3);
				display: block;
				padding: 3px 10px;
				margin-left: 30px;
				border-radius: 25px;
				
			}

			.label {
				color: #aaa;
				padding-left: 10px;
				display: inline-block;
			}
		}

		.details {
			display: none;
			float: right;

			svg {
				@include uniform_size(16px);
				float: left;
			}

			.content {
				position: absolute;
				left: 0;
				right: 0;
			}
		}

		// &.has-details .details {
		// 	display: block;
		// }

	}


	.task.complete {
		.entry {
			opacity: 1;
			cursor: help;
		}

		.label {
			color: #fff !important;
		}

		.state {
			background: darken(#39CA74, 15%) !important;
		}

		.done {
			background: #39CA74;
			border-color: #555 !important;
		}

		.items {
			height: 0;
			overflow: hidden;
			@include animate('height', 0.3s);
		}
		
		&:hover {
			background: rgba(#fff, 0.1);
			
			.task {
				background: none !important;
			}
			
			.entry:hover {
				background: rgba(#fff, 0.1);
			}
			// > .items {
			// 	height: auto;
			// }
		}

		

	}

	#task-list-high-water-mark {
		height: 1px;
		// background: #f00;
	}

	.goal {
		
		h1 {
			font-size: 20px;
			padding: 0 0 10px 0;
		}

		h2 {
			font-size: 18px;
			padding: 0 0 10px 0;
		}

		h3 {
			font-size: 16px;
			padding: 0 0 10px 0;
			font-weight: bold;
		}

		p {
			font-size: 14px;
			line-height: 1.6em;
			padding: 0 0 20px 0;
		}

		table {
			width: 100%;
			border: 1px solid #555;

			th, td {
				padding: 4px;
			}
			
			tr:nth-child(even) {
				background: rgba(#fff, 0.1);
			}
			
			th {
				font-size: 13px;
				background: rgba(#fff, 0.2);
				text-align: left;
			}

			td {
				font-size: 14px;
			}
		}
		
	}
	

}