

$workspace-action-margin: 10px;
$workspace-action-padding: 10px;
$workspace-action-item-scale: 0.66;
$workspace-action-height: $workspace-action-bar-height * $workspace-action-item-scale;
$workspace-action-icon-size: $workspace-action-height * 0.55;
$workspace-action-top: $workspace-action-bar-height * ((1 - $workspace-action-item-scale) / 2);

#workspace {

	.actions {
		height : $workspace-action-bar-height;
		padding: 0 $workspace-action-padding;
		white-space: nowrap;

		.action {
			margin: $workspace-action-top $workspace-action-margin 0 0;
			background: $workspace-action-background-color;
			height: $workspace-action-height;
			padding: 0 3px 0 8px;
			white-space: nowrap;

			@include clearfix();

			border-radius: 3px;
			box-shadow: 0 1px 4px #000;

			position: relative;
			display: inline-block;

			cursor: pointer;
			@include animate('background, transform', 0.3s);

			&:hover {
				background: lighten($workspace-action-background-color, 10%);
				transform: scale(1.05, 1.05);
			}

			svg g,
			svg path {
				fill: #fff;
			}

		}
		
		.label, .shortcut {
			color: $workspace-action-text-color;
			padding: 0 $workspace-action-padding;
			line-height: $workspace-action-height;
			font-size: 15px;
			// float: left;
			display: inline-block;
		}

		.shortcut {
			float: right;
		}

		.icon {
			display: inline-block;
			// background: #f00;
			// float: left;
			// @include uniform_size($workspace-action-icon-size);
			position: relative;
			top: -3px;
			svg {
				@include uniform_size($workspace-action-icon-size);
				top: ($workspace-action-height - $workspace-action-icon-size) / 2;
				position: relative;
			}
		}

		.right {
			float: right;

			.action {
				float: left;
			}
		}
	
		.enable-hints {
			display: none;
			background: rgba(0,0,0,0);
			box-shadow: inset 0 0 0 1px rgba(#fff, 0.4);
			.label {
				color: rgba(#fff, 0.6);
			}

			&:hover {
				background: rgba(#fff, 0.2);
				.label {
					color: #fff;
				}
			}
		}

		// special
		.action.reset {
			background: #8C49AB;
			display: none;
		}

	}

	.code-editor{
		&.has-reset .action.reset {
			display: block !important;
		}

		&.allow-activate-code-hints .action.enable-hints {
			display: block;
		}
	}

	.editors {
		position: absolute;
		top: $workspace-tab-bar-height;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.editor {
		position: absolute;
		top: $workspace-action-bar-height;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.image-viewer {
		.editor {
			overflow: scroll;
		}

		.frame {
			margin: 20px;
			display: inline-block;
			background: #fff repeat;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAHVJREFUWAnt07ENwCAMRFGTMbz/avYakJL+O1KK7wqKs9DTsapqx+Bk5uC2iGd02wfLfCBFVVBBKkDzdlBBKkDzdlBBKkDzdlBBKkDza79Dl9z57r6v+OwnoYQKKkgFaN4OKkgFaN4OKkgFaN4OKkgFaP73HTw8cQr588bQdwAAAABJRU5ErkJggg==);
			background-size: 20px 20px;

			img {
				box-shadow: 0 0 15px #000;
			}
		}

		&.fit .frame img {
			width: 100%;
		}

	}

	.not-supported {
		padding: 65px;
		color: #fff;

		h1 {
			font-size: 54px;
			padding: 0 0 15px 0;
		}

		p {
			font-size: 18px;
			padding: 0 0 0 3px;
			opacity: 0.5;
		}
	}

}	

