
#workspace {

	.actions {
		height : $workspace-action-bar-height;
		padding: 0 $workspace-action-padding / 2;

		.action {
			margin: $workspace-action-top $workspace-action-margin 0 0;
			padding: 0 $workspace-action-padding;
			height: $workspace-action-height;
			line-height: $workspace-action-height;
			background: #fff;
			display: inline-block;
		}
	}

	.editors {
		position: absolute;
		top: $workspace-tab-bar-height;
		left: 0;
		right: 0;
		bottom: 0;
	}

}

.editor {
	position: absolute;
	top: $workspace-action-bar-height;
	left: 0;
	right: 0;
	bottom: 0;
}